{% extends "base.html" %}
{% block content %}

{% include "base/navbar-dark.html" %}


<div class="container my-5">
    <div class="row">
        <div class="col s12">
            <h1 class=" bold center font-200">Password Management</h1>
        </div>
    </div>
</div>

<div class="container mh-50">
    <div class='row'>
        <div class='col s12 m6 offset-m3 card p-5'>
            <h1 class=' font-200'>Thanks</h1>
            <p>If your email is in our database you will receive an email to reset your password</p>
        </div>
    </div>
</div>
{% endblock %}
