{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col s12">
            <h1 class="font-200">Password Management</h1>
        </div>
    </div>
</div>

<div class="container mh-50">
    <div class='row'>
        <div class='col s12 m6 offset-m3 card p-5'>
            <h1 class='font-200 center'>Password reset complete</h1>
            <p class="center"><a class="btn-large bg-lblue w-100 mt-4" href='/login'>Log in</a></p>
        </div>
    </div>
</div>
{% endblock %}
