{% load static %}

{% url 'store:remove_boxes' as remove_boxes_url %}


<table>
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>PRODUCT</th>
        <th class="d-none d-md-table-cell">EACH</th>
        <th class="d-none d-md-table-cell">QUANTITY</th>
        <th class="d-none d-md-table-cell">TOTAL</th>
        <th class="d-md-none">DETAILS</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for obj in entries %}

    <tr>
        <td></td>

        {% if obj.product.custom_design %}
        <td>
            {% include "custom_chocolates/table_user_design_picture.html" with design=obj.product.custom_design %}
        </td>
        {% elif obj.product.image %}
        <td>
            <img src="{{ obj.product.image.url }}" width="150px" class="d-none d-md-table-cell">
            <img src="{{ obj.product.image.url }}" width="50px" class="d-md-none">
        </td>
        {% endif %}

        <td>
            <p class="bold">
                {% if obj.quantity > 1%}
                {{ obj.quantity }}
                {% endif %}
                {{ obj.product.name }}
            </p>

            {% if obj.product.custom_design %}
            <p class="bold mb-0">Design:</p>
            <ul class="m-0">
                <li class="m-0">Background: {{ obj.product.custom_design.base }}</li>
                <li class="m-0">
                    {{ obj.product.custom_design.layer1 }}
                </li>

                {% if obj.product.custom_design.layer2 %}
                <li class="m-0">
                    {{ obj.product.custom_design.layer2 }}
                </li>
                {% endif %}

                {% if obj.product.custom_design.layer3 %}
                <li class="m-0">
                    {{ obj.product.custom_design.layer3 }}
                </li>
                {% endif %}

            </ul>
            {% endif %}

            <p class="m-0 bold">{{ obj.product.get_flavour_format_display }}</p>
            <ul class="m-0">
                {% for obj in obj.product.flavours.all %}
                <li class="m-0">{{ obj }}</li>
                {% endfor %}
            </ul>
        </td>
        <td class="d-none d-md-table-cell">
            {% if obj.has_discount %}
            <s>£{{ obj.product.price|floatformat:2 }}</s>
            <br>
            <span class="red-text">£{{ obj.discounted_price|floatformat:2 }}</span>
            {% else %}
            £{{ obj.product.price|floatformat:2 }}
            {% endif %}
        </td>
        <td class="d-none d-md-table-cell">{{ obj.quantity }}</td>
        <td class="d-none d-md-table-cell">£{{ obj.total|floatformat:2 }}</td>
        <td class="d-md-none">
            <span class="bold">Price:</span><br>
            {% if obj.discounted_price %}
            <s>£{{ obj.product.price|floatformat:2 }}</s>
            <br>
            <span class="red-text">£{{ obj.discounted_price|floatformat:2 }}</span>
            {% else %}
            £{{ obj.product.price|floatformat:2 }}
            {% endif %}
            <br>
            <span class="bold">Total:</span><br>
            £{{ obj.total|floatformat:2 }}
        </td>
        <td>
            <form action="{{ remove_boxes_url }}" method="POST"> {% csrf_token %}
                <input type="hidden" value="{{ obj.id }}" name="obj_id">
                <button type="submit">X</button>
            </form>
        </td>
    </tr>
    {% endfor %}


    </tbody>
</table>
