{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block head_title %}{{ block.super }} Cart{% endblock %}

{% block content %}

{% url 'store:add_boxes' as add_boxes_url %}
{% url 'store:remove_boxes' as remove_boxes_url %}
{% url 'store:home' as store_home_url %}

{% url 'orders:address' as address_url %}
{% url 'carts:home' as cart_url %}

{% include "base/inner-banner.html" %}

{% if empty %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="center font-150 bold">Empty Cart, Add something</p>
                <p class="center">
                    <a href="{{ store_home_url }}" class="btn-large btn-orange "> VIEW THE STORE</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% elif not empty %}
<section class="container container-80">
    <div class="row">
        <div class="col s12 m7 l7">
            <div class="row">
                <div class="col s12">
                    <p class="font-150 bold">Your Selections</p>
                </div>
                <div class="col s12">
                    {% include "carts/entry_table_v2.html" %}
                </div>
                {% if not shipping_free %}

                <div class="col s12 center">
                    <p class="my-green-text bold">
                        You're close to FREE SHIPPING, add £{{ amount_to_free_shipping }} more
                        <a class="btn btn-orange" href="{{ store_home_url }}">VIEW SHOP</a>
                    </p>
                    <p>* Advent Calendars will be shipped from the 24th of November.</p>
                </div>

                {% endif %}
            </div>
        </div>

        <div class="col s12 m5 l5">
            <div class="row">
                <div class="col s12">
                    <h4 class="font-150 bold">Summary</h4>
                    <table>
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th class="right">Subtotal</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Products</td>
                            <td class="right">£{{ subtotal|floatformat:2 }} GBP</td>
                        </tr>
                        {% if discount %}
                        <tr>
                            <td>{{ discount }}</td>
                            <td class="right red-text">-{{ discount_total }} GBP</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>
                                <span class="">Shipping</span>
                                <br class="">*Free for orders over £45
                            </td>
                            <td class="right">
                                {% if shipping_free %}
                                Free
                                {% else %}
                                Estimated in next step
                                <br>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="bold font-150">Total</td>
                            <td class="right bold font-150">£{{ subtotal|floatformat:2 }} GBP</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s12">
                    <h4 class="font-150 bold">Discount Code</h4>
                    <div class="input-field">
                        {% if discount %}
                        <form action="{% url 'discounts:remove_discount' %}" method="POST">{% csrf_token %}
                            <button type="submit" class="">{{ discount.code }} X</button>
                        </form>
                        {% else %}
                        <form action="{% url 'discounts:validate_discount' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" class="" name="discount_code" id="discount_code">
                            <label for="discount_code">Add your Discount Code</label>
                            <button type="submit" class="btn">Validate</button>
                            {% if discount_error %}<p>{{ discount_error }}</p>{% endif %}
                        </form>
                        {% endif %}
                        <p class="grey-text lighten-2"></p>
                    </div>
                    <form method="POST"> {% csrf_token %}
                        <h4 class="font-150 bold">Gift Message</h4>
                        <div class="input-field">
                                            <textarea id="gift_message"
                                                      name="gift_message"
                                                      class="materialize-textarea browser-default"
                                                      data-length="120"
                                            >{% if gift_message %}{{ gift_message }}{% endif %}</textarea>
                            <label for="gift_message">Add your Message (optional)</label>
                        </div>
                        <h4 class="font-150 bold">Shipping Date</h4>
                        <div class="input-field">
                            <input type="text" class="datepicker" name="shipping_date" id="shipping_date"
                                   value="{% if shipping_date %}{{ shipping_date }}{% endif %}"
                            >
                            <label for="shipping_date">Pick a date (Leave Blank for ASAP)</label>
                            <p class="grey-text lighten-2">
                                Usually delivers within 1-2 days from ordering.
                            </p>
                            <p class="pink-text lighten-2">
                                Thanks for choosing CassPea! We're currently on a short break. Orders will resume shipping on August 30th
                            </p>
                        </div>
                        <p class="">
                            <button type="submit"
                                    class="waves-effect waves-light btn-large btn-purple w-100 text-capitalize font-150">
                                Proceed to Checkout
                            </button>
                        </p>
                </div>
            </div>
            </form>
            <div class="row">
                <div class="col s2 l1 px-1 offset-l3">
                    <img src="{% static 'images/payments/visa.png' %}" class="responsive-img">
                </div>
                <div class="col s2 l1 px-1">
                    <img src="{% static 'images/payments/master.png' %}" class="responsive-img">
                </div>
                <div class="col s2 l1 px-1">
                    <img src="{% static 'images/payments/google.png' %}" class="responsive-img">
                </div>

                <div class="col s2 l1 px-1">
                    <img src="{% static 'images/payments/apple.png' %}" class="responsive-img">
                </div>
                <div class="col s2 l1 px-1">
                    <img src="{% static 'images/payments/amex.png' %}" class="responsive-img">
                </div>
                <div class="col s2 l1 px-1">
                    <img src="{% static 'images/payments/diners.png' %}" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container" id="gift-message-form">

</section>

{% endif %}

<section class="container center mt-3">
    <div class="row">
        <div class="col s12">
            <hr>
        </div>
        <div class="col s6 m4 my-green-text">
            <i class="fa-solid fa-truck"></i>
            <p class="bold">FREE DELIVERY over £45</p>
        </div>
        <div class="col s6 m4 my-brown-text">
            <i class="fa-solid fa-star"></i>
            <p class="bold">5-star CUSTOMER SERVICE</p>
        </div>
        <div class="col s6 m4 my-orange-text">
            <i class="fa-solid fa-credit-card"></i>
            <p class="bold">SECURE PAYMENTS</p>
        </div>
    </div>
    <div class="col s12">
        <hr>
    </div>
</section>

{% include "newsletter-modal.html" %}
{% endblock %}

{% block js_extra %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navDropdown = document.querySelectorAll('.dropdown-trigger');
        M.Dropdown.init(navDropdown, {
            alignment: 'left',
            hover: false,
            constrainWidth: false,
            coverTrigger: false
        });

        var minDelivery = new Date();
        minDelivery.setDate(minDelivery.getDate() + 1);

        // Define the disabled date range
        const disableStartDate = new Date('2024-08-10');
        const disableEndDate = new Date('2024-08-29');

        // Function to check if a date should be disabled
        function isDateDisabled(date) {
            return (date >= disableStartDate && date <= disableEndDate);
        }

        const datepickerElems = document.querySelectorAll('.datepicker');
        const datepickerOptions = {
            disableWeekends: true,
            minDate: minDelivery,
            autoClose: true,
            showClearBtn: true,
            disableDayFn: function (date) {
                return isDateDisabled(date);
            }
        };

        M.Datepicker.init(datepickerElems, datepickerOptions);
    });

</script>
{% endblock %}
