{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block head_title %}{{ block.super }} Box Flavours{% endblock %}

{% block content %}

{% url 'store:add_boxes' as add_boxes_url %}
{% url 'store:remove_boxes' as remove_boxes_url %}
{% url 'store:home' as store_home_url %}

{% url 'orders:address' as address_url %}
{% url 'carts:home' as cart_url %}


{% include "base/inner-banner.html" %}

{% if empty %}
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p class="center font-150 bold">Empty Cart, Add something</p>
        <p class="center">
          <a href="{{ store_home_url }}" class="btn-large btn-orange "> VIEW THE STORE</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% elif not empty %}

<section class="container mt-5">
  <div class="row">
    <div class="col s12 l10 offset-l1">

      {% include "carts/entry_table.html" %}

      <!--      <p class="left">-->
      <!--        <a class="btn btn-green px-5" href="{{ store_home_url }}">Continue Shopping</a>-->
      <!--      </p>-->

    </div>
  </div>
</section>

<section class="container" id="gift-message-form">
  <div class="row">
    <div class="col s12 l10 offset-l1">
      <form method="POST"> {% csrf_token %}
        <div class="row">
          <div class="col s12 m6">
            <h4 class="font-150 bold">Gift Message</h4>
            <div class="input-field">
          <textarea id="gift_message"
                    name="gift_message"
                    class="materialize-textarea browser-default"
                    data-length="120"
          >{% if gift_message %}{{ gift_message }}{% endif %}</textarea>
              <label for="gift_message">Add your Message (optional)</label>
            </div>
            <div class="row">
              <div class="col s12 m10">
                <h4 class="font-150 bold">Payment Methods</h4>

                <div class="row">
                  <div class="col s2 px-1">
                    <img src="{% static 'images/payments/visa.png' %}" class="responsive-img">
                  </div>
                  <div class="col s2 px-1">
                    <img src="{% static 'images/payments/master.png' %}" class="responsive-img">
                  </div>
                  <div class="col s2 px-1">
                    <img src="{% static 'images/payments/google.png' %}" class="responsive-img">
                  </div>

                  <div class="col s2 px-1">
                    <img src="{% static 'images/payments/apple.png' %}" class="responsive-img">
                  </div>
                  <div class="col s2 px-1">
                    <img src="{% static 'images/payments/amex.png' %}" class="responsive-img">
                  </div>
                  <div class="col s2 px-1">
                    <img src="{% static 'images/payments/diners.png' %}" class="responsive-img">
                  </div>
                </div>

              </div>


            </div>

          </div>
          <div class="col s12 m6">
            <h4 class="font-150 bold">Shipping Date</h4>
            <div class="input-field">
              <input type="text" class="datepicker" name="shipping_date" id="shipping_date"
                     value="{% if shipping_date %}{{ shipping_date }}{% endif %}"
              >
              <label for="shipping_date">Pick a date (Leave Blank for ASAP)</label>
              <p class="grey-text lighten-2">Usually delivers within 1-2 days from ordering. Personalized chocolates
                delivers within 10 working days </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 offset-m6">
            <table>
              <thead>
              <tr>
                <th>Item</th>
                <th class="right">Subtotal</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>Products</td>
                <td class="right">£{{ subtotal|floatformat:2 }} GBP</td>
              </tr>

              <!--              <tr>-->
              <!--                <td class=""><span class="bold">Discount:</span><br>-->
              <!--                  10% off 15 or more Boxes <br>-->
              <!--                  15% off 30 or more Boxes-->
              <!--                <td>-->
              <!--                <td>-->
              <!--                  {{ discount }}-->
              <!--                </td>-->
              <!--              </tr>-->
              <tr>
                <td>
                  <span class="">Shipping</span>
                  <br class="">*Free for orders over £45

                </td>
                <td class="right">
                  {% if shipping_free %}
                  Free
                  {% else %}
                  £{{ shipping_cost|floatformat:2 }} GBP
                  <br>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="bold font-150">Total</td>
                <td class="right bold font-150">£{{ total|floatformat:2 }} GBP</td>
              </tr>
              </tbody>
            </table>
            <p class="right">
              <button type="submit"
                      class="waves-effect waves-light btn-large btn-purple w-100 text-capitalize font-150">
                Proceed to Checkout
              </button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>

</section>

{% endif %}

<section class="container center mt-3">
  <div class="row">
    <div class="col s12">
      <hr>
    </div>
    <div class="col s6 m4 my-green-text">
      <i class="fa-solid fa-truck"></i>
      <p class="bold">FREE DELIVERY over £45</p>
    </div>
    <div class="col s6 m4 my-brown-text">
      <i class="fa-solid fa-star"></i>
      <p class="bold">5 star CUSTOMER SERVICE</p>
    </div>
    <div class="col s6 m4 my-orange-text">
      <i class="fa-solid fa-credit-card"></i>
      <p class="bold">SECURE PAYMENTS</p>
    </div>
  </div>
  <div class="col s12">
      <hr>
    </div>
</section>

{% endblock %}

{% block js_extra %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const navDropdown = document.querySelectorAll('.dropdown-trigger');
    const instances = M.Dropdown.init(navDropdown, ({
    alignment:'left',
    'hover':false,
    'constrainWidth':false,
    'coverTrigger':false
    }));

    var minDelivery = new Date()
    minDelivery.setDate(minDelivery.getDate() + 1)
    {% if custom_chocolates %}
    // Loop through the next 10 days
    for (var i = 1; i < 10; i++) {
      // Add one day to the date
      minDelivery.setDate(minDelivery.getDate() + 1);

      // Check if the new date is a weekend day
      if (minDelivery.getDay() == 6) { // Saturday
        minDelivery.setDate(minDelivery.getDate() + 2); // Add two days for Sunday and Monday
      } else if (minDelivery.getDay() == 0) { // Sunday
        minDelivery.setDate(minDelivery.getDate() + 1); // Add one day for Monday
      }
    }
    {% endif %}
    const datepickerElems = document.querySelectorAll('.datepicker');
    const datepickerOptions = {
        disableWeekends: true,
        minDate: minDelivery,
        autoClose: true,
        showClearBtn: true,
    }
    const datepickerInstances = M.Datepicker.init(datepickerElems, datepickerOptions);
});









</script>
{% endblock %}