{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Box Flavours{% endblock %}

{% block content %}

{% url 'store:add_boxes' as add_boxes_url %}
{% url 'store:remove_boxes' as remove_boxes_url %}
{% url 'store:home' as store_home_url %}

{% url 'orders:address' as address_url %}
{% url 'carts:home' as cart_url %}


{% include "base/inner-banner.html" %}

{% if empty %}
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p class="center">Empty Cart, Add something</p>
        <p class="center">
          <a href="{{ store_home_url }}" class="btn-large btn-orange">Store</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% elif not empty %}

<section class="container mt-5">
  <div class="row">
    <div class="col s12">

      <table>
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>PRODUCT</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>TOTAL</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        {% for obj in entries %}

        <tr>
          <td></td>
          <td>
            {% if obj.product.image %}
            <img src="{{ obj.product.image.url }}" width="150px">
            {% endif %}
          </td>
          <td>
            <p class="bold">{{ obj.product.size }}</p>
            <p class="m-0 bold">{{ obj.product.get_flavour_format_display }}:</p>
            <ul class="m-0">
              {% for obj in obj.product.selected_prebuilts.all %}
              <li class="m-0">{{ obj }}</li>
              {% endfor %}
              {% for obj in obj.product.selected_flavours.all %}
              <li class="m-0">{{ obj }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ obj.product.price }}</td>
          <td>{{ obj.quantity }}</td>
          <td>£{{ obj.total }} GBP</td>
          <td>
            <form action="{{ remove_boxes_url }}" method="POST"> {% csrf_token %}
              <input type="hidden" value="{{ obj.id }}" name="obj_id">
              <button type="submit">X</button>
            </form>
          </td>
        </tr>
        {% endfor %}

        <tr>
          <td colspan="4"></td>
          <td>Total:</td>
          <td>£{{ total }} GBP</td>
        </tr>


        </tbody>
      </table>
      <p class="left">
        <a class="btn btn-green px-5" href="{{ store_home_url }}">Continue Shopping</a>
      </p>

    </div>
  </div>
</section>

<section class="container">
  <form method="POST"> {% csrf_token %}
    <div class="row">
      <div class="col s12 m6">
        <h4 class="font-150 bold">Gift Message</h4>
        <div class="input-field">
          <textarea id="gift_message"
                    name="gift_message"
                    class="materialize-textarea browser-default"
                    data-length="120"
                    rows="2"
          >{% if gift_message %}{{ gift_message }}{% endif %}
          </textarea>
          <label for="gift_message">Add your Message (optional)</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="right">
          <button type="submit" class="btn btn-orange px-5">Proceed to Checkout</button>
        </p>
      </div>
    </div>
  </form>
</section>

{% endif %}
{% endblock %}