{% load static %}

<footer class="page-footer my-grey">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <a href="/" class="brand-logo center">
          <img src="{% static 'images/casspea-white-logo.png' %}"
               class="responsive-img p-3"/></a>
        <p> © 2018 All rights reserved</p>
      </div>
      <div class="col m2 s12 white-text font-100 offset-m1">
        <h5 class="white-text">Address</h5>
        <ul>
          <li>1839 Fairfield Road V8S</li>
          <li>1G9 Victoria</li>
          <li>British Columbia</li>
        </ul>
      </div>

      <div class="col m2 s12">
        <h5 class="white-text">Links</h5>
        <ul class="font-100">
          <li><a class="" href="#!">Store</a></li>
          <li><a class="" href="#!">Contact</a></li>
          <li><a class="" href="#!">About Us</a></li>
        </ul>
      </div>

      <div class="col m2 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a href="tel:07859790386">07859790386</a></li>
          <li><a href="mailto:info@casspea.co.uk">info@casspea.co.uk</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
    </div>
  </div>
</footer>