{% load static %}

<!-- Materialize Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://materializecss.com/extras/noUiSlider/nouislider.js"></script>

<!--Owl Caruosel JS-->
<script src="{% static 'js/owl.carousel.js' %}"></script>

<!--Chart.js-->
<!--<script src="{% static 'js/chart_js/Chart.bundle.min.js' %}"></script>-->
<!--<script src="{% static 'js/chart_js/Chart.min.js' %}"></script>-->


<!--CK EDITOR-->
<script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>

<!--Init JS-->
<script src="{% static 'js/init.js' %}"></script>

<!--Custom JS-->
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/custom_chocolates.js' %}"></script>
<script src="{% static 'js/custom_chocolates_flavours.js' %}"></script>



<!--Google Recaptcha-->
<!--<script src='https://www.google.com/recaptcha/api.js?hl=es'></script>-->

<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '854317092525657');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=854317092525657&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5VDK8X7CHR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5VDK8X7CHR');
</script>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->