{% load static %}
{% url 'carts:home' as cart_url %}
{% url 'store:home' as store_url %}
{% url 'flavours:home' as flavours_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'dashboards:client' as client_url %}
{% url 'custom_chocolates:home' as custom_url %}

<nav class="transparent inner-nav">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo center"><img src="{% static 'images/main-logo.png' %}" width="60px"/></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>

    <ul id="nav-home" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="{{ store_url }}">Store</a></li>
      <li><a href="{{ flavours_url }}">Flavours</a></li>
      <li><a href="{{ custom_url }}">Personalise</a></li>

    </ul>

    <ul id="nav-home2" class="right hide-on-med-and-down">
      <li><a href="{{ client_url }}">Clients</a></li>
      <li><a href="{{ contact_url }}">Contact Us</a></li>
      <li><a href="{{ about_url }}">About Us</a></li>
      <li><a href="{{ cart_url }}">Cart</a></li>
    </ul>

  </div>
</nav>

{% include "base/sidenav.html" %}