{% load static %}

{% url 'store:home' as store_url %}
{% url 'carts:home' as cart_url %}
{% url 'flavours:home' as flavours_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'dashboards:client' as client_url %}

{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'dashboards:staff' as staff_home_url %}
{% url 'dashboards:client' as account_home_url %}

{% url 'password_reset' as password_reset_url %}
{% url 'password_change' as password_change_url %}
{% url 'custom_chocolates:home' as custom_url %}

<ul class="sidenav" id="mobile-demo">
  <a href="/" class="w-90 ml-1">
    <img src="{% static 'images/casspea-pink-logo.png' %}"
         class="responsive-img"/></a>
  <li><a href="/">Home</a></li>
  <li><a href="{{ store_url }}">Store</a></li>
  <li><a href="{{ flavours_url }}">Flavours</a></li>
  <li><a href="{{ custom_url }}">Personalize</a></li>

  <li><a href="{{ client_url }}">Clients</a></li>
  <li><a href="{{ contact_url }}">Contact Us</a></li>
  <li><a href="{{ about_url }}">About Us</a></li>

  {% if request.user.is_authenticated %}
  {% if request.user.is_staff %}
  <li><a href="{{ staff_home_url }}">Staff Dashboard</a></li>
  {% else %}
  <li><a href="{{ account_home_url }}">Client Dashboard</a></li>
  <li><a href="{{ account_home_url }}">Orders</a></li>
  <li class="divider"></li>
  {% endif %}
  <li><a href="{{ password_change_url }}">Change Password</a></li>
  <li><a href="{{ logout_url }}">Logout</a></li>
  {% else %}
  <li><a href="{{ login_url }}">Login</a></li>
  <li></li>

  {% endif %}

  <li><a href="{{ cart_url }}" class="btn btn-orange">Cart</a></li>

</ul>

