{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ box_obj.seo_title }}{% endblock %}
{% block meta_description %}{{ box_obj.seo_description }}{% endblock %}

{% block content %}

{% url 'store:add_boxes' as add_boxes_url %}
{% url 'store:add_boxes_special' as add_boxes_special_url %}

<section class="row">
    <div class="col s12 px-0">
        <div class="inner-banner py-2 valign-wrapper"
             style="
         background-image:url({% static 'images/home/banner-1.jpg' %});
         ">
            <div class="center w-100 white-text p-3 mt-5">
                <h1 class="font-150 mt-5 bold"> Experience 24 Tastes Of Christmas With A CassPea Advent Calendar!</h1>
                <p class="font-150">Pre-Order Yours Today In Time For December 1st!</p>
            </div>
        </div>
        {% include "base/navbar-carousel.html" %}
    </div>
</section>


<div class="container">
    <div class="row mt-5">
        <div class="col s12 m6">
            <div class="owl-carousel owl-theme">
                {% if box_obj.images %}
                {% for obj in box_obj.images %}
                <div class="item">
                    <a class="modal-trigger" href="#modal{{ forloop.counter }}">
                        <img src="{{ obj.url }}" alt="" class="">
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <ul id='box-carousel-dots' class='owl-dots'>
                {% for obj in box_obj.images %}
                <button role="button" class="owl-dot active">
                    <img src="{{ obj.url }}" alt=""
                         class="responsive-img" width="50px">
                </button>
                {% endfor %}

            </ul>
        </div>

        <div class="col s12 m6">
            <h1 class="font-150 bold">{{ box_obj.seo_title }}</h1>
            <p class=" my-orange-text font-150">£{{ box_obj.price }}</p>
            <p>
                We find ourselves at the juncture eagerly awaited by many – the advent of the Christmas holidays. It is
                with great pleasure that we extend an invitation to partake in the festivities, surrounded by dear
                friends and family, and enhance this experience with our innovative Advent Calendar.
            </p>

            <p>
                Our advent calendar is a testament to craftsmanship and holiday spirit. Beyond the mere countdown, it
                offers an immersive experience, with each door revealing not just numbers and riddles, but a curated
                selection of novel flavors and exquisite decorations, thoughtfully crafted for this occasion.
            </p>
            <p>
                This is an opportunity to elevate your holiday traditions to new heights. Secure your advent calendar by
                pre-ordering now, and we guarantee timely delivery, allowing you to commence this enchanting journey on
                December 1st. Prepare to relish the magic of the season, unwrapping a new delight each day.

            <p>
                May your Christmas season be marked by joy and merriment, and may our Advent Calendar enhance every
                moment of this cherished time.
            </p>
            <p class="bold">* Advent Calendars will be shipped from the 24th of November.</p>
            <p>For allergen information please <a class="modal-trigger text-underline my-orange-text"
                                                  href="#allergenModal">
                Click Here</a></p>
            <form method="POST" action="{{ add_boxes_special_url }}"> {% csrf_token %}
                <p class="bold">Quantity</p>
                <div class="row">

                    <div class="col s12">
                        <button class="btn btn-green btn-number"
                                data-type="minus" data-field="box_quantity"
                        >-
                        </button>

                        <input id="box_quantity" type="number"
                               name="box_quantity" class="validate center browser-default"
                               required min="1" value="1" max="100">

                        <button class="btn btn-green btn-number"
                                data-type="plus" data-field="box_quantity"
                        >+
                        </button>
                    </div>


                </div>

                <div class="row">
                    <div class="col s12" id="">
                        <p class="bold">Pick your flavour</p>
                        {% for obj in prebuilds %}
                        <p class="box-flavour-radio">
                            <label>
                                <input class="prebuild-input" name="{{ obj.slug }}" type="checkbox"/>
                                <span>{{ obj.name }}</span>
                            </label>
                        </p>
                        {% endfor %}


                    </div>
                </div>

                <input type="hidden" value="{{ box_obj.slug }}" name="slug">
                <input type="hidden" value="{{ PRE_BUILT }}" name="{{ FLAVOUR_FORMAT }}">

                <p class="center">
                    <button type="submit" id="submit-btn" class="btn-large btn-orange w-100">
                        Add to Cart
                    </button>
                </p>

            </form>
        </div>
    </div>
</div>
</div>


<!--flavours-->
<section class="container">
    <div class="row">
        <div class="col s12 center">
            <p class="font-150 bold">
                Indulge in 24 Christmas Delights, showcasing our cherished signature tastes and an exclusive premiere of
                4 <span class="red-text">BRAND NEW</span> flavours within our <span
                    class="red-text">Advent Calendar</span>
            </p>
        </div>
    </div>
    <div class="row">

        {% for obj in flavours_qs %}
        <div class="col s12 m3">
            <div class="row">
                <div class="col s12 center">
                    {% if obj.image %}
                    <img src="{{ obj.image.url }}" class="responsive-img w-50"/>
                    {% endif %}
                </div>
                <div class="col s12 center">
                    <p class="my-red-text pt-0 mb-0 mt-0 bold">{{ obj.name }}</p>
                    {% if obj.allergens_str %}
                    <p class="mt-0" style="font-size:0.75rem">*Contains {{ obj.allergens_str }}</p>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>

<!--reviews-->
<div class=" mt-5 reviews-section">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <p class="font-200 bold white-text">
                    Customer Experiences
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="review-card">
                    <p class="bold red-text">Thank you for the wonderful chocolates!</p>
                    <p>
                        They arrived this morning. They look amazing! I should have ordered a bigger box.
                        I will leave a review later. What a great talent you and your team have! My husband is a major
                        chocoholic!
                        Many thanks again.
                        #Support small businesses
                        Sabrina Crichlow
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="review-card">
                    <p class="bold">Great quality chocolates.</p>
                    <p>
                        They really do look amazing in real life. Taste absolutely divine and a good variety of
                        flavours.
                        Arrived in time for an anniversary present. Love the packaging, expensive quality.
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="review-card">
                    <p class="bold my-green-text">The best purchase I’ve made in a long time</p>
                    <p>
                        I tasted casspea chocolates at a fair and was very very impressed. I purchased a box to take to
                        a dinner party
                        and they were an absolute success. I am now a big fan. I think that the fact that all's handmade
                        by one person
                        is incredible. The passion, work, knowledge and dedication that goes into the process of making
                        each one is worthy
                        of praise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="allergenModal" class="modal">
    <div class="modal-content">
        <h4>Allergens</h4>
        <img src="{% static 'images/flavours/allergen-table.jpg' %}" alt="allergens" class="responsive-img">
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>


<div class="row">
    <div class="col s12">
        {% if box_obj.images %}
        {% for obj in box_obj.images %}
        <div id="modal{{ forloop.counter }}" class="modal">
            <img src="{{ obj.url }}" alt="" class="responsive-img">
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<style>
    .modal {
        width:100%!important;
        max-height:unset!important;
        top:20%!important;
        box-shadow:none!important;
        -webkit-box-shadow:none!important;
        background:none!important;
    }

    @media (min-width: 800px) {
        .modal {
            width:48%!important;
            max-height:unset!important;
            top:2%!important;
            box-shadow:none!important;
            -webkit-box-shadow:none!important;
            background:none!important;
        }
    }


</style>

<style>
    .reviews-section {
        background-image: url('/static/images/advent/advent-reviews-bg.jpg');
        background-size: cover;
        background-position: center;
        padding: 50px 0;
        background-attachment: fixed;

    }

    .review-card {
        background: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed (0.8 is semi-transparent) */
        padding: 20px;
        border-radius: 5px;
        margin: 10px;
        text-align: center;
    }

    .review-card p {
        margin: 0;
    }
</style>
{% endblock %}

{% block js_extra %}

<script>


    $('.btn-number').click(function(e){
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type      = $(this).attr('data-type');
        var input = $("input[name='"+fieldName+"']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {
                if(currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }

            } else if(type == 'plus') {

                if(currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
            }
        } else {
            input.val(0);
        }
    });


    $('.input-number').focusin(function(){
       $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {

        minValue =  parseInt($(this).attr('min'));
        maxValue =  parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        name = $(this).attr('name');
        if(valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if(valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }


    });


</script>

{% endblock %}