{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ box_obj.seo_title }}{% endblock %}
{% block meta_description %}{{ box_obj.seo_description }}{% endblock %}

{% block content %}

{% url 'store:add_boxes' as add_boxes_url %}

{% include 'base/navbar-dark.html' %}

<div class="container">
    <div class="row mt-5">
        <div class="col s12 m6">
            <div class="owl-carousel owl-theme">
                {% if box_obj.images %}
                {% for obj in box_obj.images %}
                <div class="item">
                    <a class="modal-trigger" href="#modal{{ forloop.counter }}">
                        <img src="{{ obj.url }}" alt="" class="">
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <ul id='box-carousel-dots' class='owl-dots'>
                {% for obj in box_obj.images %}
                <button role="button" class="owl-dot active">
                    <img src="{{ obj.url }}" alt=""
                         class="responsive-img" width="50px">
                </button>
                {% endfor %}

            </ul>
        </div>

        <div class="col s12 m6">
            <h1 class="font-150 bold">{{ box_obj.seo_title }}</h1>
            <p class=" my-orange-text font-150">£{{ box_obj.price }}</p>
            {% if box_obj.description %}
            <p>{{ box_obj.description }}</p>
            {% endif %}
            <p>For allergen information please <a class="modal-trigger text-underline my-orange-text"
                                                  href="#allergenModal">
                Click Here</a></p>
            <form method="POST" action="{{ add_boxes_url }}"> {% csrf_token %}
                <p class="bold">Quantity</p>
                <div class="row">
                    <!--            <label for="box_quantity">How many boxes of {{ quantity }} pieces?</label>-->

                    <div class="col s12">
                        <button class="btn my-pink btn-number"
                                data-type="minus" data-field="box_quantity"
                        >-
                        </button>

                        <input id="box_quantity" type="number"
                               name="box_quantity" class="validate center browser-default"
                               required min="0" value="1" max="100">

                        <button class="btn btn-green my-pink btn-number"
                                data-type="plus" data-field="box_quantity"
                        >+
                        </button>
                    </div>


                </div>

                <div class="row">
                    <div class="col s12">
                        <p class="bold">Pick your flavours</p>
                    </div>
<!--                    <div class="col s12 m6">-->
<!--                        <p>-->
<!--                            <label onclick="showPreBuiltCol()" class="btn boxes-radio-green-btn">-->
<!--                                <input name="{{ FLAVOUR_FORMAT }}" type="radio" value="{{ PRE_BUILT }}"-->
<!--                                       required/>-->
<!--                                <span>Pre Built</span>-->
<!--                            </label>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="col s12 m6">-->
<!--                        <p>-->
<!--                            <label onclick="showPickAndMixCol()" class="btn boxes-radio-green-btn">-->
<!--                                <input name="{{ FLAVOUR_FORMAT }}" type="radio" value="{{ PICK_AND_MIX }}" required/>-->
<!--                                <span>Pick and Mix</span>-->
<!--                            </label>-->
<!--                        </p>-->
<!--                    </div>-->
                    <input name="{{ FLAVOUR_FORMAT }}" type="hidden" value="{{ PICK_AND_MIX }}"/>

                </div>


                <div class="row">
                    <div class="col s12" id="preBuiltCol">
                        {% for obj in prebuilds %}
                        <p class="box-flavour-radio">
                            <label>
                                <input class="prebuild-input" name="{{ obj.slug }}" type="checkbox"/>
                                <span>{{ obj.name }}</span>
                            </label>
                        </p>
                        {% endfor %}
                    </div>
                    <div class="col s12" id="pickAndMixCol">
                        <p class="center">
                            <a class="modal-trigger text-underline my-orange-text" href="#allergenModal">
                                View Allergen table</a>
                        </p>
                        {% for flavour in flavours %}
                        <div class="row box-flavour-radio">
                            <hr/>
                            <div class="col s2 m2 p-0">
                                <td width="70px" class="py-0">
                                    {% if flavour.image %}
                                    <img src="{{ flavour.image.url }}" class="responsive-img" width="100px"/>
                                    {% else %}
                                    <img src="/media/flavour-img/7/Maracuya.jpg" class="responsive-img"/>
                                    {% endif %}
                                </td>
                            </div>
                            <div class="col s4 m5">
                                <p class="mt-0 mb-1 bold">
                                    {{ flavour.name }}

                                </p>
                                {% if flavour.mini_description %}
                                <p class="font-080 m-0">{{ flavour.mini_description }}</p>
                                {% endif %}
                                {% if flavour.allergens_str %}
                                <p class="font-070 mt-1 mb-0">*Contains {{ flavour.allergens_str }}</p>
                                {% endif %}
                            </div>
                            <div class=" col s6 m5">
                                <button class="btn btn-green btn-number"
                                        data-type="minus" data-field="{{ flavour.slug }}"
                                >-
                                </button>

                                <input id="{{ flavour.slug }}" type="number"

                                       name="{{ flavour.slug }}" class="flavour-input validate center browser-default"
                                       required min="0" value="0" max="1000">

                                <button class="btn btn-green btn-number flavour-plus-btn"
                                        data-type="plus" data-field="{{ flavour.slug }}"
                                >+
                                </button>
                            </div>
                        </div>

                        {% endfor %}

                        <p class="center font-150"><span id="remaining-flavours">{{ size }}</span> Chocolates remaining
                        </p>

                    </div>
                </div>

                <input type="hidden" value="{{ size }}" name="size">
                <p class="center">
                    {% if not box_obj.sold_out %}
                    <button type="submit" id="submit-btn" class="btn-large btn-orange">
                        Add to Cart
                    </button>
                    {% elif box_obj.sold_out %}
                    <button type="submit" id="" class="btn-large btn-orange disabled">
                        SOLD OUT
                    </button>
                    {% endif %}
                </p>

            </form>
        </div>
    </div>
</div>
</div>

<!-- Modal Structure -->
<div id="allergenModal" class="modal">
    <div class="modal-content">
        <h4>Allergens</h4>
        <img src="{% static 'images/flavours/allergen-table.jpg' %}" alt="allergens" class="responsive-img">
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>


<div class="row">
    <div class="col s12">
        {% if box_obj.images %}
        {% for obj in box_obj.images %}
        <div id="modal{{ forloop.counter }}" class="modal">
            <img src="{{ obj.url }}" alt="" class="responsive-img">
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<style>
    .modal {
        width:100%!important;
        max-height:unset!important;
        top:20%!important;
        box-shadow:none!important;
        -webkit-box-shadow:none!important;
        background:none!important;
    }

    @media (min-width: 800px) {
        .modal {
            width:48%!important;
            max-height:unset!important;
            top:2%!important;
            box-shadow:none!important;
            -webkit-box-shadow:none!important;
            background:none!important;
        }
    }


</style>
{% endblock %}

{% block js_extra %}

<script>
    const pickAndMixCol = document.getElementById('pickAndMixCol')

  const max = parseInt({{ size }})
  const flavourInputs = $('.flavour-input');
  const flavourPlusBtns = $('.flavour-plus-btn');
  const flavoursRemaining = $('#remaining-flavours');
  const submitBtn = $('#submit-btn');
  const prebuildInputs = $('.prebuild-input');

  submitBtn.prop("disabled",true);

  prebuildInputs.change(function() {
    console.log($(this));
    submitBtn.prop("disabled",false);
  });

  var remaining = max

  function sumInputs() {
    var sum = 0;
    for (let i = 0; i < flavourInputs.length; i++) {
      if (flavourInputs[i].value) {
        sum += parseInt(flavourInputs[i].value);
        }
    }
    return sum
  }

  flavourInputs.change(function() {
    sum = sumInputs()
    submitBtn.prop("disabled",true);

    if (sum === max) {
      flavourPlusBtns.prop("disabled",true);
      submitBtn.prop("disabled",false);
    } else {
      flavourPlusBtns.prop("disabled",false);
    }
    remaining = max - sum;
    flavoursRemaining.text(remaining);
  });


  $('.btn-number').click(function(e){
      e.preventDefault();

      fieldName = $(this).attr('data-field');
      type      = $(this).attr('data-type');
      var input = $("input[name='"+fieldName+"']");
      var currentVal = parseInt(input.val());
      if (!isNaN(currentVal)) {
          if(type == 'minus') {
              if(currentVal > input.attr('min')) {
                  input.val(currentVal - 3).change();
              }

          } else if(type == 'plus') {

              if(currentVal < input.attr('max')) {
                  input.val(currentVal + 3).change();
              }
          }
      } else {
          input.val(0);
      }
  });


  $('.input-number').focusin(function(){
     $(this).data('oldValue', $(this).val());
  });
  $('.input-number').change(function() {

      minValue =  parseInt($(this).attr('min'));
      maxValue =  parseInt($(this).attr('max'));
      valueCurrent = parseInt($(this).val());

      name = $(this).attr('name');
      if(valueCurrent >= minValue) {
          $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
      } else {
          alert('Sorry, the minimum value was reached');
          $(this).val($(this).data('oldValue'));
      }
      if(valueCurrent <= maxValue) {
          $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
      } else {
          alert('Sorry, the maximum value was reached');
          $(this).val($(this).data('oldValue'));
      }


  });


</script>

{% endblock %}