{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Store{% endblock %}
{% block content %}
{% include "base/inner-banner.html" %}


<div class="container mt-5">
  <div class="row">
    <div class="col s12">
      <h2 class="bold font-200 center">Ordering delicious hand made chocolates from CassPea is simple and fun!</h2>
      <p class="center mt-2">
        Choose from our box sizes of 9, 15, 24 or 48. Each colourful yet sturdy box is carefully packaged to retain
        freshness of flavour and the design makes a fantastic gift for a loved one. We have over 15 flavours to choose
        from, including alcohol free, nut free and gluten free options (please note
        we cannot guarantee 100% nut free for those with severe allergies)</p>
      <ul class="center">
        <li class="bold my-pink-text">1: Select your box size</li>
        <li class="bold my-green-text">2: Choose a Pre-Built box or Pick and Mix your own from our 16 succulent flavours</li>
        <li class="bold my-brown-text">3: Select a shipping date - FREE delivery for orders over £45</li>
        <li class="bold my-purple-text">4: Pay securely online</li>
        <li class="bold my-orange-text">5: Receive your chocolates and enjoy!</li>
      </ul>
    </div>
  </div>
</div>

<section class="container mt-1">
  <div class="row">
    <div class="col s12">
    </div>
    {% for obj in qs %}
    <div class="col s6 m3">

      {% if obj.store_image %}
      <a href="{{ obj.get_absolute_url }}"><img src="{{ obj.store_image.url }}" class="responsive-img"> </a>
      {% endif %}
      <p class="center bold">£{{ obj.price }}</p>
      <p class="center ">
        <a class="btn btn-outline-{{ obj.color }} w-100" href="{{ obj.get_absolute_url }}">
          Box of {{ obj.size }} <span class="d-none d-md-inline-block">Chocolates</span>
        </a>
      </p>
    </div>
    {% endfor %}
  </div>
</section>

<!--<section class="container my-5">-->
<!--  <div class="row">-->
<!--    <div class="col s12">-->
<!--      <h2 class="font-200 font-weight-bold center">Need More?</h2>-->
<!--      {% for obj in lots %}-->
<!--      <p class="center">-->
<!--        <a href="{{ obj.get_absolute_url }}" class="btn btn-outline-green">{{ obj }}</a>-->
<!--      </p>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--  </div>-->


<!--</section>-->
{% endblock %}