{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Store{% endblock %}
{% block content %}
{% include "base/inner-banner.html" %}


<div class="container mt-5">
  <div class="row">
    <div class="col s12">
      <h2 class="bold font-200 center">How many chocolates do you want?</h2>
    </div>
  </div>
</div>

<section class="container mt-5">
  <div class="row">
    <div class="col s12">
    </div>
    {% for obj in qs %}
    <div class="col s6 m3">

      {% if obj.store_image %}
      <a href="{{ obj.get_absolute_url }}"><img src="{{ obj.store_image.url }}" class="responsive-img"> </a>
      {% endif %}
      <p class="center bold">£{{ obj.price }}</p>
      <p class="center ">
        <a class="btn btn-outline-{{ obj.color }}" href="{{ obj.get_absolute_url }}">
          {{ obj }}
        </a>
      </p>
    </div>
    {% endfor %}
  </div>
</section>

<!--<section class="container my-5">-->
<!--  <div class="row">-->
<!--    <div class="col s12">-->
<!--      <h2 class="font-200 font-weight-bold center">Need More?</h2>-->
<!--      {% for obj in lots %}-->
<!--      <p class="center">-->
<!--        <a href="{{ obj.get_absolute_url }}" class="btn btn-outline-green">{{ obj }}</a>-->
<!--      </p>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--  </div>-->


<!--</section>-->


{% endblock %}