{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Store{% endblock %}
{% block content %}
{% include "base/inner-banner.html" %}

<style>
    .my-card {
        border: solid #e7e1e1 1px;
        cursor:pointer;
    }

    .shop-item-title {
        min-height:3rem;
    }

    .store-item-hr {
        border-top: solid #e7e1e1 1px;
    }

    @media (min-width: 768px) {
        .shop-item-title {
            min-height:1.5rem;
        }
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col s12">
            <h2 class="bold font-150 center">Ordering delicious hand made chocolates from CassPea is simple and
                fun!</h2>
            <p class="center mt-2">
                Choose from our box sizes of 9, 15, 24 or 48. Each colourful yet sturdy box is carefully packaged to
                retain
                freshness of flavour and the design makes a fantastic gift for a loved one. We have over 15 flavours to
                choose
                from, including alcohol free, nut free and gluten free options (please note
                we cannot guarantee 100% nut free for those with severe allergies)</p>
            <ul class="center">
                <li class="bold my-pink-text">1: Select your box size</li>
                <li class="bold my-green-text">2: Choose a Pre-Built box or Pick and Mix your own from our 16 succulent
                    flavours
                </li>
                <li class="bold my-brown-text">3: Select a shipping date - FREE delivery for orders over £45</li>
                <li class="bold my-purple-text">4: Pay securely online</li>
                <li class="bold my-orange-text">5: Receive your chocolates and enjoy!</li>
            </ul>
        </div>
    </div>
</div>

<section class="container mt-1" style="width:98%">
    <div class="row">
        <h2 class="bold font-150 center py-3">Signature Boxes</h2>
    </div>
    <div class="row my-card-container">
        {% for obj in qs %}
        <div class="col s6 m3 px-1 mt-2 my-card-wrapper">
            <div class="my-card px-1">
                <a href="{{ obj.get_absolute_url }}">
                    {% if obj.store_image %}
                    <img src="{{ obj.store_image.url }}" class="responsive-img">
                    {% endif %}
                    <h3 class="font-100 center my-0 shop-item-title">Box of {{ obj.size }} Hand Made Chocolates ({{ obj.weight }}g)</h3>
                    <p class="center bold my-1">£{{ obj.price }}</p>
                    <div class="center py-2 m-0 w-100 store-item-hr">
                        <a class="{{ obj.color }}-text bold w-100" href="{{ obj.get_absolute_url }}">
                            <p class="m-0">
                                Pick Box
                            </p>
                        </a>

                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

{% if valentines_active %}
<section class="container mt-1" id="valentines" style="width:98%">
    <div class="row">
        <div class="col s12">
            <h2 class="bold font-150 center py-3">Valentine's Day</h2>
        </div>
        {% for obj in valentines_boxes_qs %}
        <div class="col s6 m3 px-1 mt-2 my-card-wrapper">
            <div class="my-card px-1">
                <a href="{{ obj.get_absolute_url }}">
                    {% if obj.store_image %}
                    <img src="{{ obj.store_image.url }}" class="responsive-img">
                    {% endif %}
                    <h3 class="font-100 center my-0 shop-item-title">{{ obj.title }}</h3>
                    <p class="center bold my-1">£{{ obj.price }}</p>
                    <div class="center py-2 m-0 w-100 store-item-hr">
                        <a class="red-text bold w-100" href="{{ obj.get_absolute_url }}">
                            <p class="m-0">
                                Pick Box
                            </p>
                        </a>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

<!--<section class="container my-5">-->
<!--  <div class="row">-->
<!--    <div class="col s12">-->
<!--      <h2 class="font-200 font-weight-bold center">Need More?</h2>-->
<!--      {% for obj in lots %}-->
<!--      <p class="center">-->
<!--        <a href="{{ obj.get_absolute_url }}" class="btn btn-outline-green">{{ obj }}</a>-->
<!--      </p>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--  </div>-->


<!--</section>-->
{% endblock %}