{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Box Flavours{% endblock %}

{% block content %}

{% url 'store:add_lots' as add_lots_url %}

{% include "base/inner-banner.html" %}


<div class="container">
  <div class="row">
    <div class="row mt-5">

      <div class="col s12 ">
        <h1 class="font-250">Lot of {{ size }} Chocolates</h1>
        {% if box_obj.description %}
        <p>{{ box_obj.description }}</p>
        {% endif %}
        <form method="POST" action="{{ add_lots_url }}"> {% csrf_token %}

          <div class="row">
            <div class="col s12">
              <p class="bold">Pick your flavour</p>
            </div>
            <div class="col s6">
              <p>
                <label onclick="showPreBuiltCol()" class="btn boxes-radio-green-btn">
                  <input name="{{ FLAVOUR_FORMAT }}" type="radio" value="{{ PRE_BUILT }}"
                         required/>
                  <span>Pre Built</span>
                </label>
              </p>
            </div>
            <div class="col s6">
              <p>
                <label onclick="showPickAndMixCol()" class="btn boxes-radio-green-btn">
                  <input name="{{ FLAVOUR_FORMAT }}" type="radio" value="{{ PICK_AND_MIX }}" required/>
                  <span>Pick and Mix</span>
                </label>
              </p>
            </div>

          </div>


          <div class="row">
            <div class="col s12 m6 offset-m3" id="preBuiltCol">
              <p>Pick as many as you want</p>
              {% for obj in prebuilds %}
              <p class="box-flavour-radio">
                <label>
                  <input class="" name="{{ obj.slug }}" type="checkbox"/>
                  <span>{{ obj.name }}</span>
                </label>
              </p>
              <hr>
              {% endfor %}


            </div>
            <div class="col s12" id="pickAndMixCol">
             <p class="center font-150">Select <span >{{ size }}</span> Chocolates</p>
              {% for flavour in flavours %}

              <div class="row box-flavour-radio">
                <div class="col s12 m6">
                  <p class="mt-0">{{ flavour.name }}</p>
                </div>

                <div class="col s12 m6">
                  <button class="btn btn-green btn-number"
                          data-type="minus-10" data-field="{{ flavour.slug }}"
                  >-10</button>
                  <button class="btn btn-green btn-number"
                          data-type="minus" data-field="{{ flavour.slug }}"
                  >-1</button>

                  <input id="{{ flavour.slug }}" type="number" 
        
                         name="{{ flavour.slug }}" class="flavour-input validate center browser-default"
                         required min="0" value="0" max="1000">

                  <button class="btn btn-green btn-number flavour-plus-btn"
                          data-type="plus" data-field="{{ flavour.slug }}"
                  >+1</button>
                  <button class="btn btn-green btn-number flavour-plus10-btn"
                          data-type="plus-10" data-field="{{ flavour.slug }}"
                  >+10</button>
                </div>
              </div>
              <hr>

              <!--              <div class="row">-->
              <!--                <div class="input-field col s10">-->
              <!--                  <input id="{{ flavour.slug }}" type="number" name="{{ flavour.alug }}">-->
              <!--                  <label for="{{ flavour.slug }}">{{ flavour.name }}</label>-->
              <!--                </div>-->
              <!--              </div>-->
              {% endfor %}

            </div>
          </div>

          <input type="hidden" value="{{ size }}" name="size">
          <p class="center font-150 remaining-flavours" ><span >{{ size }}</span> Chocolates remaining</p>

          <p class="center">
            <button type="submit" class="btn-large btn-orange" id="submit-btn">Add your {{ size }} Chocolates to Cart</button>
          </p>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_extra %}

<script>
  const preBuiltCol = document.getElementById('preBuiltCol')
  const pickAndMixCol = document.getElementById('pickAndMixCol')
  preBuiltCol.style.display = 'none';
  pickAndMixCol.style.display = 'none';

  function showPreBuiltCol() {
      pickAndMixCol.style.display = 'none';
      preBuiltCol.style.display = 'block';
  }

  function showPickAndMixCol() {
    preBuiltCol.style.display = 'none';
    pickAndMixCol.style.display = 'block';
  }

const max = parseInt({{ size }})
const flavourInputs = $('.flavour-input');
const flavourPlusBtns = $('.flavour-plus-btn');
const flavourPlus10Btns = $('.flavour-plus10-btn');
const submitBtn = $('#submit-btn');

const flavoursRemaining = $('.remaining-flavours');
var remaining = max

function sumInputs() {
  var sum = 0;
  for (let i = 0; i < flavourInputs.length; i++) {
    sum += parseInt(flavourInputs[i].value);
  }
  return sum
}

flavourInputs.change(function() {
  sum = sumInputs();
  const remaining = max - sum;
  flavourPlusBtns.prop("disabled",false);
  flavourPlus10Btns.prop("disabled",false);
  submitBtn.prop("disabled",true);
  flavoursRemaining.text("Select " + remaining + " Remaining Chocolates");

  switch (true) {
    case remaining < 0:
      submitBtn.prop("disabled",true);  
      flavourPlus10Btns.prop("disabled",true);
      flavourPlusBtns.prop("disabled",true); 
      break
    case remaining === 0:
      flavourPlus10Btns.prop("disabled",true);
      flavourPlusBtns.prop("disabled",true);
      submitBtn.prop("disabled",false);
      flavoursRemaining.text("Great! you selected all your chocolates");
      break
    case remaining < 10:
      flavourPlus10Btns.prop("disabled",true);
      break  
  }
});

flavourInputs.keypress(function (evt) {
    evt.preventDefault();
});


$('.btn-number').click(function(e){
    e.preventDefault();

    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {
            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            }
        } else if(type == 'minus-10') {
            if(currentVal >= input.attr('min') + 10) {
                input.val(currentVal - 10).change();
            } else if (currentVal >= input.attr('min')) {
                input.val(0);
            }
        } else if(type == 'plus') {
            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
        } else if(type == 'plus-10') {
            if(currentVal < input.attr('max')) {
                input.val(currentVal + 10).change();
            }
        }
    } else {
        input.val(0);
    }
});


$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});

$('.input-number').change(function() {

    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());

    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }

});

</script>

{% endblock %}