{% extends "emails/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col s12 m8 offset-m2 card">
      <p class="center"><img src="https://www.casspea.co.uk/static/images/casspea-pink-logo.png" width="200px"></p>
      <h4 class="center"><b>New Order</b></h4>
      <p class="">A new order has been proccessed</p>
      <p class=""><a class="btn purple" href="{{ domain }}{{ order.get_staff_url}}">View Order details</a>
      </p>
      <p class=""><b>Order ID: </b>{{ order.order_id }}</p>
      <p class=""><b>User: </b>{{ order.user }}</p>
      <p class=""><b>Discount Code: </b>{{ order.discount }}</p>
      <p>{% if gift_message %} <b>Gift Message: </b>{{ gift_message }} {% endif %}</p>
      <p class=""><b>Shipping Address: </b>{{ order.shipping_address.full_address }}</p>
      <p class=""><b>Payment Status: </b>{{ order.payment_status }}</p>
      <p class=""><b>Stripe ID: </b>{{ order.stripe_description }}</p>

      <h5 class=""><b>Products:</b></h5>

      {% include "orders/entry_table.html" %}

      <h5 class=""><b>Summary</b></h5>
      <table>
        <tbody>
        <tr>
          <td>Products</td>
          <td class="right">£{{ order.subtotal|floatformat:2 }} GBP</td>
        </tr>
        <tr>
          <td>
            <span class="">Shipping</span>
            <br class="">*Free for orders over £45

          </td>
          <td class="right">
            {% if order.shipping_free %} Free {% else %} £{{ order.shipping_cost }} GBP {% endif %}
          </td>
        </tr>
        <tr>
          <td class="bold font-150"><b>Total</b></td>
          <td class="right bold font-150">£{{ order.total|floatformat:2 }} GBP</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}