{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'orders:address' as order_address_url %}
{% url 'orders:checkout-session' as checkout_session_url %}
{% url 'carts:home' as cart_url %}
{% url 'store:remove_boxes' as remove_boxes_url %}


{% include "base/inner-banner.html" %}

<section class="container mt-3 mb-5">
  <div class="row">
    <div class="col s12 l10 offset-l1">
      <div class="row">

        <div class="col s12 m12">
          <h1 class="bold font-200 center">Confirm Order</h1>

          <h4 class="bold font-150">Products</h4>

          {% include "carts/entry_table.html" %}


        </div>
        <div class="col s12 m6 ">
          <h4 class="font-150 bold mb-1">Shipping Address</h4>

          <div class="">
            <p class="m-0 p-0">{{ address.full_name }}, {{ address.tel }}</p>
            <p class="my-0 p-0">
              {{ address.street }},
              {{ address.city }},
              {{ address.country }},
              {{ address.postal_code }}.
            </p>
            <a class="text-underline my-green-text" href="{{ cart_url }}#gift-message-form">
              Update</a>
          </div>

          <h4 class="font-150 bold mb-1">Discount</h4>

          {% if discount %}
          <form action="{% url 'discounts:remove_discount' %}" method="POST">{% csrf_token %}
            <button type="submit" class="">{{ discount.code }} X</button>
          </form>
          {% endif %}

          <h4 class="font-150 bold mb-1">Shipping Date</h4>

          <p class="my-0">
            {% if shipping_date %}{{ shipping_date }}{% else %} ASAP {% endif %}
          </p>
          <a class="text-underline my-green-text" href="{{ cart_url }}#gift-message-form">
            {% if shipping_date %}Change{% else %} Add {% endif %}
            Shipping Date
          </a>

          <h4 class="font-150 bold mb-1">Gift Message</h4>

          <p class="my-0">
            {% if gift_message %}{{ gift_message }}{% else %} - {% endif %}
          </p>
          <a class="text-underline my-green-text" href="{{ cart_url }}#gift-message-form">
            {% if gift_message %}Change{% else %} Add {% endif %}
            Message
          </a>

        </div>
        <div class="col s12 m6 px-4">

          <h4 class="mt-4 font-150 bold">Summary</h4>

          <div class="row p-0">

            <table>
              <thead>
              <tr>
                <th>Item</th>
                <th class="right">Subtotal</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>Products</td>
                <td class="right">£{{ subtotal }} GBP</td>
              </tr>
              {% if discount %}
              <tr>
                <td>{{ discount }}</td>
                <td class="right red-text">-{{ discount_total }} GBP</td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  <span class="">Shipping</span>
                  <br class="">*Free for orders over £45
                </td>
                <td class="right">
                  {% if shipping_free %}
                  Free
                  {% else %}
                  <form method="POST" action="" id="shippingForm">
                    {% csrf_token %}
                    {% for shipping_type in shipping_types %}
                    <p>
                      <label>
                        <input
                                name="shipping_type"
                                type="radio"
                                value="{{ shipping_type.id }}"
                                {% if shipping_type.id == cart.shipping_type.id %}
                                    checked
                                {% endif %}
                                onclick="submitShippingForm()"
                        />
                        <span>{{ shipping_type }}</span>
                      </label>
                    </p>

                    {% endfor %}
                  </form>
                  {% endif %}

                </td>
              </tr>
              <tr>
                <td class="bold font-150">Total</td>
                <td class="right bold font-150">£{{ total }} GBP</td>
              </tr>


              </tbody>
            </table>


            <form action="{{ checkout_session_url }}" method="POST"> {% csrf_token %}
              {% comment %} <p class="pink-text lighten-2">
                 Thanks so much for all your orders, we'll be back on the 30th, orders placed from now on until then we'll be shipped out on the 30th.
              </p> {% endcomment %}
              <button class="waves-effect waves-light btn-large btn-orange w-100 text-capitalize font-150"
                      type="submit" id="checkout-button">Proceed to Payment
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% include "newsletter-modal.html" %}

<script>
    function submitShippingForm() {
        document.getElementById("shippingForm").submit();
    }
</script>

{% endblock %}
