{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'orders:address' as order_address_url %}

{% include "base/inner-banner.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col s12">
      <h1 class="bold font-200 center">Congratulations</h1>
      <p class="center font-150">Your order has been created successfully, we will contact you soon</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h4 class="center font-150 bold">Order ID: {{ order.order_id }}</h4>
      <h4 class="font-150 bold">Shipping Address:</h4>

      <div class="">
        <p class="m-0 p-0">{{ order.shipping_address.full_name }}, {{ order.shipping_address.tel }}</p>
        <p class="m-0 p-0">
          {{ order.shipping_address.street }},
          {{ order.shipping_address.city }},
          {{ order.shipping_address.country }},
          {{ order.shipping_address.postal_code }}.
        </p>
      </div>
      <h4 class="font-150 bold">Products:</h4>

      <table>
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>PRODUCT</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>TOTAL</th>
        </tr>
        </thead>

        <tbody>
        {% for obj in order.cart_entries.all %}

        <tr>
          <td></td>
          <td>
            {% if obj.product.image %}
            <img src="{{ obj.product.image.url }}" width="150px">
            {% endif %}
          </td>
          <td>{{ obj.product.size }}</td>
          <td>{{ obj.product.price }}</td>
          <td>{{ obj.quantity }}</td>
          <td>£{{ obj.total }} GBP</td>
        </tr>
        {% endfor %}


        </tbody>
      </table>

      <h4 class="mt-4 font-150 bold">Summary</h4>

      <div class="">
        <div class="row p-0">
          {% if gift_message %}
          <div class="col s6">
            <p class="font-100 mt-2">Gift Message:</p>
          </div>
          <div class="col s6">
            <p class="text-right font-100 mt-2">
              {{ gift_message }}
            </p>
          </div>
          {% endif %}
          <div class="col s6">
            <p class="font-100 mt-2">Shipping:</p>
          </div>
          <div class="col s6">
            <p class="text-right font-100 mt-2">
              {% if order.shipping_free %}
              Free
              {% else %}
              £{{ order.shipping_cost }} GBP
              {% endif %}
            </p>
          </div>
          <div class="col s6">
            <p class="font-100 mt-2 font-150 bold">Total:</p>
          </div>
          <div class="col s6">
            <p class="text-right font-150 mt-2 bold">£{{ order.total }} GBP</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}