{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% include "base/navbar-dark.html" %}

<div class="container my-5">
  <div class="row">
    <div class="col s12">
      <h1 class="font-200 center">Orders</h1>
    </div>
  </div>
</div>

<div class="container mh-50">
  <div class="collection">
    <a class="collection-item">
      <div class="row my-orange-text">
        <div class="col s1">
          ID
        </div>
        <div class="col s4">
          Stripe Description
        </div>
        <div class="col s2">
          Payment Status
        </div>
        <div class="col s2">
          Date
        </div>
        <div class="col s2">
          Status
        </div>
        <div class="col s1">
          Total
        </div>
      </div>
    </a>

    {% for order in orders %}
    <a href="{{ order.get_staff_url }}" class="collection-item">
      <div class="row my-grey-text">
        <div class="col s1">
          {{ order.order_id }}
        </div>
        <div class="col s4">
          {{ order.stripe_description }}
        </div>
        <div class="col s2">
          {{ order.is_paid }}
        </div>
        <div class="col s2">
          {{ order.timestamp }}
        </div>
        <div class="col s2">
          {{ order.status }}
        </div>
        <div class="col s1">
          ￡{{ order.total }}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<ul class="pagination center">

  <li class="{% if not orders.has_previous %}disabled{% endif %}">
    <a href="{% if orders.has_previous %}?page={{ orders.previous_page_number }}{% endif%}">
      <i class="material-icons">chevron_left</i>
    </a>
  </li>

  <li class=""><a href="?page=1">First</a></li>
  <li class="active my-green"><a href="#!">Page {{ orders.number }} of {{ orders.paginator.num_pages }}</a></li>
  <li class=""><a href="?page={{ orders.paginator.num_pages }}">Last</a></li>

  <li class="{% if not orders.has_next %}disabled{% endif %}">
    <a href="{% if orders.has_next %}?page={{ orders.next_page_number }}{% endif%}">
      <i class="material-icons">chevron_right</i>
    </a>
  </li>
</ul>
{% endblock %}
