{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'orders:address' as order_address_url %}
{% include "base/navbar-dark.html" %}


<div class="container mt-5">
  <div class="row">
    <div class="col s12">
      <h1 class="center font-200">Order details</h1>
      <div class="span bg-lblue py-1"></div>
    </div>

    <div class="col s12 m4">
      <p class="font-150 mb-1"><span class="font-150 bold">ID:</span> {{ order.order_id }}</p>
      <p class="font-150 mb-1"><span class="font-150 bold">Stripe Description:</span> {{ order.stripe_description }}</p>
      <p class="font-150 mb-1"><span class="font-150 bold">Payment Status:</span>
        {{ order.is_paid }}
      </p>
      <p class="font-150 my-1"><span class="font-150 bold">User:</span> {{ order.user }}</p>
      <p class="font-150 my-1"><span class="font-150 bold">Date:</span> {{ order.timestamp }}</p>
      <p class="font-150 my-1"><span class="font-150 bold">Gift Message:</span> {{ order.gift_message }}</p>
      <p class="font-150 my-1"><span class="font-150 bold">Shipping Date:</span> {{ order.shipping_date }}</p>


    </div>
    <div class="col s12 m4">

      <h4 class="font-150 bold">Shipping Address</h4>

      <div class="p-3">
        <p class="m-0 p-0">{{ address.full_name }}, {{ address.tel }}</p>
        <p class="m-0 p-0">
          {{ address.street }},
          {{ address.postal_code }},
          {{ address.city }},
          {{ address.country }},
        </p>
      </div>

    </div>
    <div class="col s12 m4">
      <h4 class="font-150 bold">Status: {{ order.status }}</h4>
      <div class="mt-2">
        <form class="" method="POST"> {% csrf_token %}
          <div class="input-field col s12">
            <select name="order-status">
              {% for status in STATUS_CHOICES %}
              {% if status.0 == order.status %}
              <option value="{{status.0}}" selected>{{ status.0 }}</option>
              {% else %}
              <option value="{{status.0}}">{{ status.0 }}</option>
              {% endif %}
              {% endfor %}
            </select>
            <label>Change status</label>
          </div>
          <p class="text-right">
            <button type="submit" class="btn btn-green">Update</button>
          </p>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col s12">
      <h4 class="text-lblue">Order</h4>

      <table>
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>PRODUCT</th>
          <th class="d-none d-md-table-cell">PRICE</th>
          <th class="d-none d-md-table-cell">QUANTITY</th>
          <th class="d-none d-md-table-cell">TOTAL</th>
          <th class="d-md-none">DETAILS</th>
        </tr>
        </thead>

        <tbody>
        {% for obj in entries %}

        <tr>
          <td></td>
          <td>
            {% if obj.product.image %}
            <img src="{{ obj.product.image.url }}" width="150px" class="d-none d-md-table-cell">
            <img src="{{ obj.product.image.url }}" width="50px" class="d-md-none">
            {% endif %}
          </td>
          <td>
            <p class="bold">{{ obj.product.size }}</p>
            <p class="m-0 bold">{{ obj.product.get_flavour_format_display }}:</p>
            <ul class="m-0">
              {% for obj in obj.product.selected_prebuilts.all %}
              <li class="m-0">{{ obj }}</li>
              {% endfor %}
              {% for obj in obj.product.selected_flavours.all %}
              <li class="m-0">{{ obj }}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="d-none d-md-table-cell">{{ obj.product.price }}</td>
          <td class="d-none d-md-table-cell">{{ obj.quantity }}</td>
          <td class="d-none d-md-table-cell">£{{ obj.total }} GBP</td>
          <td class="d-md-none">
            <span class="bold">Price:</span><br>
            {{ obj.product.price }}<br>
            <span class="bold">Quantity:</span><br>
            {{ obj.quantity }}<br>
            <span class="bold">Total:</span><br>
            £{{ obj.total }} GBP
          </td>
        </tr>
        {% endfor %}

        <tr>
          <td colspan="2" class="d-md-none"></td>
          <td colspan="4" class="d-none d-md-table-cell"></td>
          <td>Shipping:</td>
          <td>£{{ order.shipping_cost }} GBP</td>
        </tr>

        <tr>
          <td colspan="2" class="d-md-none"></td>
          <td colspan="4" class="d-none d-md-table-cell"></td>
          <td>Total:</td>
          <td>£{{ order.total }} GBP</td>
        </tr>


        </tbody>
      </table>

    </div>

  </div>
</div>

{% endblock %}