{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'orders:address' as order_address_url %}
{% include "base/navbar-dark.html" %}


<div class="container mt-5">
  <div class="row">
    <div class="col s12">
      <h1 class="center font-200">Order details</h1>
      <div class="span bg-lblue py-1"></div>
    </div>

    <div class="col s12 m4">
      <p class="font-100 mb-1"><span class="font-100 bold">ID:</span> {{ order.order_id }}</p>
      <p class="font-100 mb-1"><span class="font-100 bold">Stripe Description:</span> {{ order.stripe_description }}</p>
      <p class="font-100 mb-1"><span class="font-100 bold">Payment Status:</span>
        {{ order.is_paid }}
      </p>
      <p class="font-100 my-1"><span class="font-100 bold">User:</span> {{ order.user }}</p>
      <p class="font-100 my-1"><span class="font-100 bold">Date:</span> {{ order.timestamp }}</p>
      <p class="font-100 my-1"><span class="font-100 bold">Gift Message:</span> {{ order.gift_message }}</p>
      <p class="font-100 my-1"><span class="font-100 bold">Shipping Date:</span> {{ order.shipping_date }}</p>


    </div>
    <div class="col s12 m4">

      <h4 class="font-100 bold">Shipping Address</h4>

      <div class="p-3">
        <p class="m-0 p-0">{{ address.full_name }}, {{ address.tel }}</p>
        <p class="m-0 p-0">
          {{ address.street }},
          {{ address.postal_code }},
          {{ address.city }},
          {{ address.country }},
        </p>
      </div>

    </div>
    <div class="col s12 m4">
      <h4 class="font-100 bold">Status: {{ order.status }}</h4>
      <div class="mt-2">
        <form class="" method="POST"> {% csrf_token %}
          <div class="input-field col s12">
            <select name="order-status">
              {% for status in STATUS_CHOICES %}
              {% if status.0 == order.status %}
              <option value="{{status.0}}" selected>{{ status.0 }}</option>
              {% else %}
              <option value="{{status.0}}">{{ status.0 }}</option>
              {% endif %}
              {% endfor %}
            </select>
            <label>Change status</label>
          </div>
          <p class="text-right">
            <button type="submit" class="btn btn-green">Update</button>
          </p>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="container mt-5">

  <div class="row">

    <div class="col s12">
      {% include "orders/entry_table.html" %}

    </div>

  </div>
</div>

{% endblock %}