{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Box Flavours{% endblock %}

{% block content %}

{% url 'custom_chocolates:add_boxes' as add_boxes_url %}

{% include "base/inner-banner.html" %}


<div class="container">
  <div class="row mt-5">
    <div class="col s12 m6">
      <div class="owl-carousel owl-theme">
        {% if box_obj.images %}
        {% for obj in box_obj.images %}
        <div class="item">
          <a class="modal-trigger" href="#modal{{ forloop.counter }}">
            <img src="{{ obj.url }}" alt="" class="">
          </a>
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <ul id='box-carousel-dots' class='owl-dots'>
        {% for obj in box_obj.images %}
        <button role="button" class="owl-dot active">
          <img src="{{ obj.url }}" alt=""
               class="responsive-img" width="50px">
        </button>
        {% endfor %}

      </ul>
    </div>

    <div class="col s12 m6">
      <h1 class="font-250 bold">{{ box_obj }}</h1>
      <p class=" my-orange-text font-150">£{{ box_obj.price }}</p>
      {% if box_obj.description %}
      <p>{{ box_obj.description }}</p>
      {% endif %}
      <p class="bold">Design</p>
      {% include "custom_chocolates/table_user_design_picture.html" with design=user_design %}
      <form method="POST" action="{{ add_boxes_url }}"> {% csrf_token %}
        <p class="bold">Quantity</p>

        <div class="col s12">
          <select class="browser-default" id="quantity-select" required name="box_quantity">
            <option value="" disabled selected>How many boxes</option>
            {% for obj in quantity_options %}
            <option value="{{ obj.quantity }}" data-max-flavours="{{ obj.max_flavours}}">{{ obj.text }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="row">
          <div class="col s12">
            <p class="bold">Pick your flavour</p>
          </div>
          <!-- Pre Built Radio-->
          <div class="col s12 m6">
            <p>
              <label onclick="showPreBuiltCol()" class="btn boxes-radio-green-btn" required>
                <input name="{{ FLAVOUR_FORMAT }}" type="radio" value="{{ PRE_BUILT }}"
                       required/>
                <span>Pre Built</span>
              </label>
            </p>
          </div>
          <!-- Pick and Mix Radio-->
          <div class="col s12 m6">
            <p>
              <label onclick="showPickAndMixCol()" class="btn boxes-radio-green-btn">
                <input name="{{ FLAVOUR_FORMAT }}" type="radio" value="{{ PICK_AND_MIX }}" required/>
                <span>Pick and Mix</span>
              </label>
            </p>
          </div>

        </div>


        <div class="row">
          <!-- Pre Builds List-->
          <div class="col s12" id="preBuiltCol">
            {% for obj in prebuilds %}
            <p class="">
              <label>
                <input class="prebuild-checkbox" name="{{ obj.slug }}" type="checkbox"/>
                <span>{{ obj.name }}</span>
              </label>
            </p>
            {% endfor %}
          </div>

          <!-- Pick and Mix List-->
          <div class="col s12" id="pickAndMixCol">
            <p class="center font-150"><span id="remaining-flavours">Select your quantity</span></p>
            <p class="center">
              <a class="modal-trigger text-underline my-orange-text" href="#allergenModal">
                View Allergen table</a>
            </p>
            {% for flavour in flavours %}

            <p>
              <label>
                <input type="checkbox"
                       name="{{ flavour.slug }}"
                       class="filled-in flavour-checkbox"
                       disabled/>
                <span>{{ flavour }}</span>
              </label>
            </p>

            {% endfor %}

          </div>
        </div>

        <input type="hidden" value="{{ size }}" name="size">
        <p class="center">
          <button type="submit" id="submit-btn-custom-chocolates" class="btn-large btn-orange" disabled="true">
            Add to Cart
          </button>
        </p>

      </form>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="allergenModal" class="modal">
  <div class="modal-content">
    <h4>Allergens</h4>
    <img src="{% static 'images/flavours/allergen-table.jpg' %}" alt="allergens" class="responsive-img">
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    {% if box_obj.images %}
    {% for obj in box_obj.images %}
    <div id="modal{{ forloop.counter }}" class="modal">
      <img src="{{ obj.url }}" alt="" class="responsive-img">
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

<style>
    .modal {
        width:100%!important;
        max-height:unset!important;
        top:20%!important;
        box-shadow:none!important;
        -webkit-box-shadow:none!important;
        background:none!important;
    }

    @media (min-width: 800px) {
        .modal {
            width:48%!important;
            max-height:unset!important;
            top:2%!important;
            box-shadow:none!important;
            -webkit-box-shadow:none!important;
            background:none!important;
        }
    }




</style>
{% endblock %}

{% block js_extra %}

<script>
  const preBuiltCol = document.getElementById('preBuiltCol')
  const pickAndMixCol = document.getElementById('pickAndMixCol')
  preBuiltCol.style.display = 'none';
  pickAndMixCol.style.display = 'none';

  function showPreBuiltCol() {
      pickAndMixCol.style.display = 'none';
      preBuiltCol.style.display = 'block';
  }

  function showPickAndMixCol() {
    preBuiltCol.style.display = 'none';
    pickAndMixCol.style.display = 'block';
  }

const max = parseInt({{ size }})
const flavourInputs = $('.flavour-input');
const flavourPlusBtns = $('.flavour-plus-btn');
const flavoursRemaining = $('#remaining-flavours');
const submitBtn = $('#submit-btn');
const prebuildInputs = $('.prebuild-input');

submitBtn.prop("disabled",true);

prebuildInputs.change(function() {
  console.log($(this));
  submitBtn.prop("disabled",false);
});

var remaining = max

function sumInputs() {
  var sum = 0;
  for (let i = 0; i < flavourInputs.length; i++) {
    sum += parseInt(flavourInputs[i].value);
  }
  return sum
}

flavourInputs.change(function() {
  sum = sumInputs()
  submitBtn.prop("disabled",true);

  if (sum === max) {
    flavourPlusBtns.prop("disabled",true);
    submitBtn.prop("disabled",false);
  } else {
    flavourPlusBtns.prop("disabled",false);
  }
  remaining = max - sum;
  flavoursRemaining.text(remaining);
});

flavourInputs.keypress(function (evt) {
    evt.preventDefault();
});


$('.btn-number').click(function(e){
    e.preventDefault();

    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {
            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
        }
    } else {
        input.val(0);
    }
});


$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {

    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());

    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }


});






</script>

{% endblock %}