{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Store{% endblock %}
{% block content %}
{% include "base/inner-banner.html" %}


<div class="container mt-5">
  <div class="row">
    <div class="col s12">
      <h2 class="bold font-200 center">Your design is ready, now choose your box size</h2>
<!--      <div class="mx-auto">-->
<!--        {% include "custom_chocolates/table_user_design_picture.html" with design=user_design %}-->
<!--      </div>-->
      <p class="center">Minimun order: 45 chocolates</p>
    </div>
  </div>
</div>

<section class="container mt-5">
  <div class="row">
    <div class="col s12">
    </div>
    {% for obj in qs %}
    <div class="col s6 m3">

      {% if obj.store_image %}
      <a href="/custom_chocolates/box_size/{{ obj.size }}"><img src="{{ obj.store_image.url }}" class="responsive-img"> </a>
      {% endif %}
      <p class="center bold">£{{ obj.custom_price }} ea</p>
      <p class="center ">
        <a class="btn btn-outline-{{ obj.color }} w-100" href="{{ obj.get_absolute_url }}">
          {{ obj }} <span class="d-none d-md-inline-block">Chocolates</span>
        </a>
      </p>
      <p class="center">
        From
        {% if obj.size == 9 %}
        5 Boxes
        {% elif obj.size == 15 %}
        3 Boxes
        {% elif obj.size == 24 %}
        2 Boxes
        {% elif obj.size == 48 %}
        1 Box
        {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}