{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}

{% include "base/inner-banner.html" %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="center bold">Pick a design to personalise</h4>
    </div>
  </div>

  <div class="row">
    {% for obj in designs %}
    <div class="col s12 m4">
      <a href="{{ obj.get_absolute_url }}">
        <div>
          {% if obj.featured_design %}
          {% include "custom_chocolates/user_design_pic.html" with design=obj.featured_design %}
          {% endif %}
        </div>
        <p class="center bold font-200">{{ obj }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}