{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}

{% include "base/inner-banner.html" %}

<div class="container my-5">
  <div class="row">
    <div class="col s12 m6">
      <div class="row">
        <div class="col s12 m12">
          <div class="position-relative">
            <img src="{% static 'images/custom/top/background/midnight_galaxy.png' %}" class="responsive-img"
                 id="custom-top-background">
            <img src="" id="custom-layer-1" style="opacity:0">
            <img src="" id="custom-layer-2" style="opacity:0">
            <img src="" id="custom-layer-3" style="opacity:0">
            <img src="{% static 'images/custom/top/shadows.png' %}" id="custom-shadows">
          </div>
        </div>
        <div class="col s12 m12">
          <div class="position-relative ">
            <img src="{% static 'images/custom/side/background/midnight_galaxy.png' %}" class="responsive-img"
                 id="custom-side-background"
            >
            <img src="" id="custom-side-layer-1" style="opacity:0">
            <img src="" id="custom-side-layer-2" style="opacity:0">
            <img src="" id="custom-side-layer-3" style="opacity:0">
            <img src="{% static 'images/custom/side/shadows.png' %}" id="custom-side-shadows">
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <h1 class="font-200">Custom Chocolates</h1>
      <form method="POST"> {% csrf_token %}
        <label>Background</label>
        <select class="browser-default" id="select-background">
          <option value="" disabled selected>Choose your background</option>
          {% for obj in background_options %}
          <option value="{{ obj.images }}">{{ obj.title }}</option>
          {% endfor %}
        </select>
        <label>Layer 1</label>
        <select class="browser-default" id="select-layer-1">
          <option value="" disabled selected>Choose</option>
          {% for obj in layer1_options %}
          <option value="{{ obj.images }}">{{ obj.title }}</option>
          {% endfor %}
          <option value="">None</option>
        </select>
        <label>Layer 2</label>
        <select class="browser-default" id="select-layer-2">
          <option value="" disabled selected>Choose</option>
          {% for obj in layer2_options %}
          <option value="{{ obj.images }}">{{ obj.title }}</option>
          {% endfor %}
          <option value="">None</option>

        </select>
        <label>Layer 3</label>
        <select class="browser-default" id="select-layer-3">
          <option value="" disabled selected>Choose</option>
          {% for obj in layer3_options %}
          <option value="{{ obj.images }}">{{ obj.title }}</option>
          {% endfor %}
          <option value="">None</option>

        </select>

        <button type="submit" class="btn btn-orange mt-2">Create your design</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

