{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Contact Us{% endblock %}
{% block content %}

{% url 'store:home' as store_url %}

<section class="row">
  <div class="col s12 px-0">
    <div class="inner-banner py-2 valign-wrapper" id="contact-banner">
      <div class="center w-100 white-text">
        <h1 class="font-200 bold mt-5"> Contact us</h1>
        <p class="">For more information or if you’d like to become an official CassPea Chocolates supplier please get
          in touch
        </p>
      </div>
    </div>
    {% include "base/navbar-carousel.html" %}
  </div>
</section>

<section class="container my-5">
  <div class="row">
    <div class="col s12">
<!--      <h1 class="font-200 bold center my-purple-text">CONTACT US</h1>-->
    </div>
  </div>
  <div class="row mt-5">
    <div class="col s12 ">

      <p class="font-200 ml-2 center my-0">
        <i class="fa-brands fa-whatsapp my-eblue-text font-200"></i>
        07859 790386
      </p>

      <p class="font-200 ml-2 center my-0">
        <i class="material-icons my-eblue-text font-200 mt-2">email</i>
        info@casspea.co.uk
      </p>
    </div>

    <div class="col s12 mt-5">
      <div class="row">
        <form class="col s12" method="POST">{% csrf_token %}
          <div class="row">
            <div class="input-field col s6">
              <input id="name" type="text" name="name" required>
              <label for="name">Name</label>
            </div>

            <div class="input-field col s6">
              <input id="email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="phone" type="text" name="phone">
              <label for="phone">Phone</label>
            </div>

          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea id="message" class="materialize-textarea" required></textarea>
              <label for="message">Message</label>
            </div>
            <button type="submit" class="btn-large btn-green font-150 right">Send Message</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}