{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} A New Chocolate Experience{% endblock %}
{% block content %}

{% url 'store:home' as store_url %}
{% url 'custom_chocolates:home' as personalise_url %}
{% url 'contact' as contact_url %}

<section class="row">
  <div class="col s12 px-0">
    <div class="center w-100 white-text valign-wrapper center" id="home-hero">
      <div class="w-100">
        <h1 class="home-hero-h1">Create your unique selection of luxury Hand Made Chocolates and add colour and fun to your life</h1>
        <p class="home-hero-description bold">
          ADD <span class="eblue-text">COLOUR</span> AND <span class="pink-text">FUN</span> TO YOUR LIFE
        </p>
      </div>

    </div>

    <!--    <div class="owl-carousel owl-theme" >-->
    <!--      <div class="item py-5 valign-wrapper" id="home-carousel-1">-->
    <!--        -->
    <!--      </div>-->
    <!--      &lt;!&ndash;      <div class="item py-5 valign-wrapper" id="home-carousel-2">&ndash;&gt;-->
    <!--      &lt;!&ndash;        <div class="center w-100 white-text">&ndash;&gt;-->
    <!--      &lt;!&ndash;          <h2 class="font-250 bold">&ndash;&gt;-->
    <!--      &lt;!&ndash;            TRY OUR FINEST CHOCOLATES&ndash;&gt;-->
    <!--      &lt;!&ndash;          </h2>&ndash;&gt;-->
    <!--      &lt;!&ndash;        </div>&ndash;&gt;-->
    <!--      &lt;!&ndash;      </div>&ndash;&gt;-->
    <!--      &lt;!&ndash;      <div class="item py-5 valign-wrapper" id="home-carousel-3">&ndash;&gt;-->
    <!--      &lt;!&ndash;        <div class="center w-100 white-text">&ndash;&gt;-->
    <!--      &lt;!&ndash;          <h2 class="font-250 bold text-uppercase">&ndash;&gt;-->
    <!--      &lt;!&ndash;            a complete experience for you and your loved ones&ndash;&gt;-->
    <!--      &lt;!&ndash;          </h2>&ndash;&gt;-->
    <!--      &lt;!&ndash;        </div>&ndash;&gt;-->
    <!--      &lt;!&ndash;      </div>&ndash;&gt;-->

    <!--    </div>-->

    {% include "base/navbar-carousel.html" %}

  </div>
</section>

<section>
  <div class="row">
    <div class="col s12 my-3">
      <!-- TrustBox widget - Micro Review Count -->
      <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad"
           data-businessunit-id="63dbb87f683a659a5db03e2e" data-style-height="24px" data-style-width="100%"
           data-theme="light" data-min-review-count="10" data-style-alignment="center">
        <a href="" target="_blank" rel="noopener">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col s12 m6 center">
      <p class="font-150 bold">
        CassPea is a brand that crafts artisan hand-painted chocolate bonbons in a wide variety of delicious flavours.
      </p>
      <p class="font-125">We offer the fun experience of choosing your own unique selection with our ‘Pick and Mix’
        option. Alternatively
        why not delight and surprise someone with a pre-selected chocolate box of our choosing?
      </p>
      <p class="font-125">The colourful gift boxes offer quantities of 9, 15, 24 or 48 and for ultimate freshness we
        advise you consume
        the chocolates within 15-30 days of receiving them.</p>
      <p class="font-125">Have an upcoming event or wedding party?
        Why not pre-order from CassPea and we will produce and supply your chocolates in time for that special
        occasion!</p>
      <p class="font-125">
        If you’re needing a larger order, we can save you money with our bulk packs. For more information please contact
        our friendly team today on 07859 790386 or email: info@casspea.co.uk</p>
      <p><a href="{{ store_url }}" class="btn-large btn-purple">ORDER NOW</a></p>
    </div>
    <div class="col s12 m6">
      <img src="{% static 'images/home/section2.jpg' %}" alt="" class="responsive-img">
    </div>
  </div>
</section>

<section id="home-section-5">
  <div class="">
    <div class="row">
      <div class="col s12">
        <p class="center bold font-250">An easy and fun way to order from CassPea Chocolates:
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col s12 m2 offset-m1 center">
        <img src="{% static 'images/home/process/1.png' %}" class="responsive-img home-process-img" loading="lazy">
        <p class="bold center font-150 m-0">
          Visit our shop and choose your box size</p>
      </div>
      <div class="col s12 m2 center">
        <img src="{% static 'images/home/process/2.png' %}" class="responsive-img home-process-img" loading="lazy">
        <p class="bold center font-150 m-0">
          Choose a pre-selected box or why not Pick and Mix your own flavours!
        </p>
      </div>
      <div class="col s12 m2 center">
        <img src="{% static 'images/home/process/3.png' %}" class="responsive-img home-process-img" loading="lazy">
        <p class="bold center font-150 m-0">
          Sending as a gift? Write a message or leave this blank – your choice!
        </p>
      </div>
      <div class="col s12 m2 center">
        <img src="{% static 'images/home/process/4.png' %}" class="responsive-img home-process-img" loading="lazy">
        <p class="bold center font-150 m-0">
          Choose your shipping date, enter your shipping address and pay online securely
        </p>
      </div>
      <div class="col s12 m2 center">
        <img src="{% static 'images/home/process/5.png' %}" class="responsive-img home-process-img" loading="lazy">
        <p class="bold center font-150 m-0">
          Receive your box and enjoy your chocolates!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <p class="center">
          <a href="{{ store_url }}" class="btn-large btn-orange ">GO TO THE STORE</a>
        </p>
      </div>
    </div>
  </div>
</section>


<!--<section>-->
<!--  <div class="row">-->
<!--    <div class="col s12 p-0">-->
<!--      <a href="{{ personalise_url }}">-->
<!--        <img src="{% static 'images/home/banner-home.jpg' %}" alt="" class="responsive-img d-none d-md-block">-->
<!--        <img src="{% static 'images/home/banner-home.jpg' %}" alt="" class="responsive-img d-md-none">-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section id="home-section-2" class="my-yellow">
  <div class="container ">
    <div class="row">
      <div class="col s12 m9">
        <p id="home-section-2-text" class="pt-4">
          It is not only the high quality of our products that separate us from the competition, it is our fun and
          efficient <a href="{{ store_url }}" class="text-underline">ordering process</a>.
        </p>
      </div>
      <div class="col s12 m3">
        <img src="{% static 'images/home/handpick.jpg' %}" alt="" class="responsive-img" loading="lazy">
      </div>
    </div>
  </div>
</section>


<section class="position-relative">
  <div class="container" id="home-section-3">
    <div class="row">
      <div class="col s12 m7">
        <p id="home-section-3-text">
          We have streamlined our ordering experience to make it as simple and fun as possible. Whether you are ordering
          a single box for a friend or a thousand personalised chocolates for an event, the process for both is just as
          easy.
        </p>
        <p class="center">
          <a href="{{ contact_url }}" class="text-underline font-150 bold">Contact us for more details</a>
        </p>

      </div>
      <div class="col s12 m4">
        <img src="{% static 'images/home/surpise.jpg' %}" class="responsive-img" loading="lazy">
      </div>
    </div>
  </div>
  <img src="{% static 'images/home/iso-morado.png' %}" id="home-iso-morado" loading="lazy">
  <!--  <img src="{% static 'images/home/home-section-3-paint.png' %}" id="home-section-3-paint">-->
</section>

<!--<section id="home-section-4">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col s12">-->
<!--        <p class="white-text font-250 center">-->
<!--          SHOW OFF YOUR AMAZING AND UNIQUE PERSONALITY-->
<!--        </p>-->
<!--        <p class="white-text font-250 center bold">-->
<!--          WITH <span class="yellow-text">OUR PERSONALISED</span> CHOCOLATE SECTION-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<!--<section id="">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col s12 my-5">-->
<!--        <div class="owl-carousel owl-theme" id="home-carousel-gallery">-->
<!--          <div class="item">-->
<!--            <img src="{% static 'images/home/gallery/1.jpg' %}" class="responsive-img">-->
<!--          </div>-->
<!--          <div class="item">-->
<!--            <img src="{% static 'images/home/gallery/2.jpg' %}" class="responsive-img">-->
<!--          </div>-->
<!--          <div class="item">-->
<!--            <img src="{% static 'images/home/gallery/3.jpg' %}" class="responsive-img">-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--      <div class="col s12 center">-->
<!--        <p class="d-inline-block">-->
<!--          <a href="https://www.instagram.com/casspea_/"><i class="fa-brands fa-instagram black-text font-300"></i></a>-->
<!--        </p>-->
<!--        <p class="d-inline-block">-->
<!--          <a href="https://www.instagram.com/casspea_/"><span class="my-purple-text font-200 bold ">@casspea_</span></a>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<style>
  #site-nav {
   display:none;
  }










</style>

{% endblock %}
