{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} A New Chocolate Experience{% endblock %}
{% block content %}

{% url 'store:home' as store_url %}

<section class="row">
  <div class="col s12 px-0">
    <div class="owl-carousel owl-theme" id="home-carousel">
      <div class="item py-5 valign-wrapper" id="home-carousel-1">
        <div class="center w-100 white-text">
          <h1 class="font-250">A NEW CHOCOLATE EXPERIENCE</h1>
          <h2 class="font-250 bold">
            ADD <span class="eblue-text">COLOUR</span> AND <span class="pink-text">FUN</span> TO YOUR LIFE
          </h2>
        </div>
      </div>
      <div class="item py-5 valign-wrapper" id="home-carousel-2">
        <div class="center w-100 white-text">
          <h2 class="font-250 bold">
            TRY OUR FINEST CHOCOLATES
          </h2>
        </div>
      </div>
      <div class="item py-5 valign-wrapper" id="home-carousel-3">
        <div class="center w-100 white-text">
          <h2 class="font-250 bold text-uppercase">
            a complete experience for you and your loved ones
          </h2>
        </div>
      </div>

    </div>

    {% include "base/navbar-carousel.html" %}

  </div>
</section>

<section>
  <div class="row">
    <div class="col s12 p-0">
      <a href="{{ store_url }}">
      <img src="{% static 'images/home/casspea15-banner-1.jpg' %}" alt="" class="responsive-img d-none d-md-block">
      <img src="{% static 'images/home/casspea15-banner-1-mobile.jpg' %}" alt="" class="responsive-img d-md-none">
      </a>
    </div>
  </div>
</section>

<section id="home-section-2" class="my-yellow">
  <div class="container ">
    <div class="row">
      <div class="col s12 py-5">
        <p id="home-section-2-text">
          It is not only the high quality of our products that separate us from the competition, it is our fun and
          efficient ordering process.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="position-relative">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m1">
        <p id="home-section-3-text">
          We have streamlined our ordering experience to make it as simple and fun as possible. Whether you are ordering
          a single box for a friend or a thousand personalised chocolates for an event, the process for both is just as
          easy.

        </p>

      </div>
    </div>
  </div>
  <img src="{% static 'images/home/iso-morado.png' %}" id="home-iso-morado">
  <img src="{% static 'images/home/home-section-3-paint.png' %}" id="home-section-3-paint">
</section>

<section id="home-section-4">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p class="white-text font-250 center">
          SHOW OFF YOUR AMAZING AND UNIQUE PERSONALITY
        </p>
        <p class="white-text font-250 center bold">
          WITH <span class="yellow-text">OUR PERSONALISED</span> CHOCOLATE SECTION
        </p>
      </div>
    </div>
  </div>
</section>


<section id="home-section-5">
  <div class="">
    <div class="row">
      <div class="col s12">
        <p class="center bold font-250">HOW TO BUY AT CASSPEA
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col s12 m2 offset-m1">
        <img src="{% static 'images/home/process/1.png' %}" class="responsive-img">
        <p class="bold center font-150">
          Choose what your needs are. Personalised for an event or online store</p>
      </div>
      <div class="col s12 m2">
        <img src="{% static 'images/home/process/2.png' %}" class="responsive-img">
        <p class="bold center font-150">
          Select your products
        </p>
      </div>
      <div class="col s12 m2">
        <img src="{% static 'images/home/process/3.png' %}" class="responsive-img">
        <p class="bold center font-150">
          Choose your shipping date. From today to any time in the next year
        </p>
      </div>
      <div class="col s12 m2">
        <img src="{% static 'images/home/process/4.png' %}" class="responsive-img">
        <p class="bold center font-150">
          Receive your package
        </p>
      </div>
      <div class="col s12 m2">
        <img src="{% static 'images/home/process/5.png' %}" class="responsive-img">
        <p class="bold center font-150">
          Enjoy your chocolates
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <p class="center">
          <a href="{{ store_url }}" class="btn-large btn-orange ">GO TO THE STORE</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!--<section id="">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col s12 my-5">-->
<!--        <div class="owl-carousel owl-theme" id="home-carousel-gallery">-->
<!--          <div class="item">-->
<!--            <img src="{% static 'images/home/gallery/1.jpg' %}" class="responsive-img">-->
<!--          </div>-->
<!--          <div class="item">-->
<!--            <img src="{% static 'images/home/gallery/2.jpg' %}" class="responsive-img">-->
<!--          </div>-->
<!--          <div class="item">-->
<!--            <img src="{% static 'images/home/gallery/3.jpg' %}" class="responsive-img">-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--      <div class="col s12 center">-->
<!--        <p class="d-inline-block">-->
<!--          <a href="https://www.instagram.com/casspea_/"><i class="fa-brands fa-instagram black-text font-300"></i></a>-->
<!--        </p>-->
<!--        <p class="d-inline-block">-->
<!--          <a href="https://www.instagram.com/casspea_/"><span class="my-purple-text font-200 bold ">@casspea_</span></a>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<style>
  #site-nav {
   display:none;
  }























</style>
{% endblock %}
