{% extends "base.html" %}
{% block content %}
{% include "base/navbar-dark.html" %}


<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="center my-2">PRIVACY POLICY</h1>
      <p>This privacy policy applies between you, the User of this Website, and Casspea Ltd, the owner and provider of
        this Website. Casspea Ltd takes the privacy of your information very seriously. This privacy policy applies to
        our use of any and all Data collected by us or provided by you in relation to your use of the Website.</p>
      <h3>Please read this privacy policy carefully.</h3>
      <h2>Definitions and interpretation</h2>
      <ol>
        <li data-list-text="1.">
          <p>In this privacy policy, the following definitions are used:</p>
          <table cellspacing="0">
            <tbody>
            <tr>
              <td bgcolor="#EDEDED">
                <p>Data</p>
              </td>
              <td bgcolor="#EDEDED">
                <p>collectively all information that you submit to Casspea Ltd via the Website. This definition
                  incorporates, where applicable, the definitions provided in the Data Protection Laws;</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Cookies</p>
              </td>
              <td>
                <p>a small text file placed on your computer by this Website when you visit certain parts of the Website
                  and</p>
                <p>/or when you use certain features of the Website. Details of the cookies used by this Website are set
                  out in the clause below (<strong>Cookies</strong>);</p>
              </td>
            </tr>
            <tr>
              <td bgcolor="#EDEDED">
                <p>Data Protection Laws</p>
              </td>
              <td bgcolor="#EDEDED">
                <p>any applicable law relating to the processing of personal Data, including but not limited to the
                  GDPR, and any national implementing and supplementary laws, regulations and secondary legislation;</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>GDPR</p>
              </td>
              <td>
                <p>the UK General Data Protection Regulation;</p>
              </td>
            </tr>
            <tr>
              <td bgcolor="#EDEDED">
                <p>Casspea Ltd,</p>
                <p>we or us</p>
              </td>
              <td bgcolor="#EDEDED">
                <p>Casspea Ltd of 97 Hambalt Road, SW4 9EL;</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>UK and EU</p>
                <p>Cookie Law</p>
              </td>
              <td>
                <p>the Privacy and Electronic Communications (EC Directive) Regulations 2003 as amended by the Privacy
                  and Electronic Communications (EC Directive) (Amendment) Regulations 2011 &amp; the Privacy and
                  Electronic Communications (EC Directive) (Amendment) Regulations 2018;</p>
              </td>
            </tr>
            <tr>
              <td bgcolor="#EDEDED">
                <p>User or</p>
                <p>you</p>
              </td>
              <td bgcolor="#EDEDED">
                <p>any third party that accesses the Website and is not either (i) employed by Casspea Ltd and acting in
                  the course of their employment or (ii) engaged as a consultant or otherwise providing services to
                  Casspea Ltd and accessing the Website in connection with the provision of such services; and</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Website</p>
              </td>
              <td>
                <p>the website that you are currently using, casspea.co.uk, and any sub-domains of this site unless
                  expressly excluded by their own terms and conditions.</p>
              </td>
            </tr>
            </tbody>
          </table>
        </li>
        <li data-list-text="2.">
          <p>In this privacy policy, unless the context requires a different interpretation:</p>
          <ol>
            <li data-list-text="a.">
              <p>the singular includes the plural and vice versa;</p>
            </li>
            <li data-list-text="b.">
              <p>references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or
                appendices of this privacy policy;</p>
            </li>
            <li data-list-text="c.">
              <p>a reference to a person includes firms, companies, government entities, trusts and partnerships;</p>
            </li>
            <li data-list-text="d.">
              <p>"including" is understood to mean "including without limitation";</p>
            </li>
            <li data-list-text="e.">
              <p>reference to any statutory provision includes any modification or amendment of it;</p>
            </li>
            <li data-list-text="f.">
              <p>the headings and sub-headings do not form part of this privacy policy.</p>
              <h2>Scope of this privacy policy</h2>
            </li>
          </ol>
        </li>
        <li data-list-text="3.">
          <p>This privacy policy applies only to the actions of Casspea Ltd and Users with respect to this Website. It
            does not extend to any websites that can be accessed from this Website including, but not limited to, any
            links we may provide to social media websites.</p>
        </li>
        <li data-list-text="4.">
          <p>For purposes of the applicable Data Protection Laws, Casspea Ltd is the "data controller". This means that
            Casspea Ltd determines the purposes for which, and the manner in which, your Data is processed.</p>
          <h2>Data collected</h2>
        </li>
        <li data-list-text="5.">
          <p>We may collect the following Data, which includes personal Data, from you:</p>
          <ol>
            <li data-list-text="a.">
              <p>name;</p>
            </li>
            <li data-list-text="b.">
              <p>contact Information such as email addresses and telephone numbers;</p>
              <p>in each case, in accordance with this privacy policy.</p>
              <h2>How we collect Data</h2>
            </li>
          </ol>
        </li>
        <li data-list-text="6.">
          <p>We collect Data in the following ways:</p>
          <ol>
            <li data-list-text="a.">
              <p>data is given to us by you; and</p>
            </li>
            <li data-list-text="b.">
              <p>data is collected automatically.</p>
              <h2>Data that is given to us by you</h2>
            </li>
          </ol>
        </li>
        <li data-list-text="7.">
          <p>Casspea Ltd will collect your Data in a number of ways, for example:</p>
          <ol>
            <li data-list-text="a.">
              <p>when you contact us through the Website, by telephone, post, e-mail or through any other means;</p>
            </li>
            <li data-list-text="b.">
              <p>when you register with us and set up an account to receive our products/services;</p>
            </li>
            <li data-list-text="c.">
              <p>when you complete surveys that we use for research purposes (although you are not obliged to respond to
                them);</p>
            </li>
            <li data-list-text="d.">
              <p>when you enter a competition or promotion through a social media channel;</p>
            </li>
            <li data-list-text="e.">
              <p>when you make payments to us, through this Website or otherwise;</p>
            </li>
            <li data-list-text="f.">
              <p>when you elect to receive marketing communications from us;</p>
            </li>
            <li data-list-text="g.">
              <p>when you use our services;</p>
              <p>in each case, in accordance with this privacy policy.</p>
              <h2>Data that is collected automatically</h2>
            </li>
          </ol>
        </li>
        <li data-list-text="8.">
          <p>To the extent that you access the Website, we will collect your Data automatically, for example:</p>
          <ol>
            <li data-list-text="a.">
              <p>we automatically collect some information about your visit to the Website. This information helps us to
                make improvements to Website content and navigation, and includes your IP address, the date, times and
                frequency with which you access the Website and the way you use and interact with its content.</p>
            </li>
            <li data-list-text="b.">
              <p>we will collect your Data automatically via cookies, in line with the cookie settings on your browser.
                For more information about cookies, and how we use them on the Website, see the section below, headed
                "Cookies".</p>
              <h2>Our use of Data</h2>
            </li>
          </ol>
        </li>
        <li data-list-text="9.">
          <p>Any or all of the above Data may be required by us from time to time in order to provide you with the best
            possible service and experience when using our Website. Specifically, Data may be used by us for the
            following reasons:</p>
          <ol>
            <li data-list-text="a.">
              <p>internal record keeping;</p>
            </li>
            <li data-list-text="b.">
              <p>improvement of our products / services;</p>
            </li>
            <li data-list-text="c.">
              <p>transmission by email of marketing materials that may be of interest to you;</p>
            </li>
            <li data-list-text="d.">
              <p>contact for market research purposes which may be done using email, telephone, fax or mail. Such
                information may be used to customise or update the Website;</p>
              <p>in each case, in accordance with this privacy policy.</p>
            </li>
          </ol>
        </li>
        <li data-list-text="10.">
          <p>We may use your Data for the above purposes if we deem it necessary to do so for our legitimate interests.
            If you are not satisfied with this, you have the right to object in certain circumstances (see the section
            headed "Your rights" below).</p>
        </li>
        <li data-list-text="11.">
          <p>For the delivery of direct marketing to you via e-mail, we'll need your consent, whether via an opt-in or
            soft-opt-in:</p>
          <ol>
            <li data-list-text="a.">
              <p>soft opt-in consent is a specific type of consent which applies when you have previously engaged with
                us (for example, you contact us to ask us for more details about a particular product/service, and we
                are marketing similar products/services). Under "soft opt-in" consent, we will take your consent as
                given unless you opt-out.</p>
            </li>
            <li data-list-text="b.">
              <p>for other types of e-marketing, we are required to obtain your explicit consent; that is, you need to
                take positive and affirmative action when consenting by, for example, checking a tick box that we'll
                provide.</p>
            </li>
            <li data-list-text="c.">
              <p>if you are not satisfied with our approach to marketing, you have the right to withdraw consent at any
                time. To find out how to withdraw your consent, see the section headed "Your rights" below.</p>
            </li>
          </ol>
        </li>
        <li data-list-text="12.">
          <p>When you register with us and set up an account to receive our services, the legal basis for this
            processing is the performance of a contract between you and us and/or taking steps, at your request, to
            enter into such a contract.</p>
          <h2>Who we share Data with</h2>
        </li>
        <li data-list-text="13.">
          <p>We may share your Data with the following groups of people for the following reasons:</p>
          <ol>
            <li data-list-text="a.">
              <p>our employees, agents and/or professional advisors - To have the entire company help us move forward
                with the information we have collected.;</p>
              <p>in each case, in accordance with this privacy policy.</p>
              <h2>Keeping Data secure</h2>
            </li>
          </ol>
        </li>
        <li data-list-text="14.">
          <p>We will use technical and organisational measures to safeguard your Data, for example:</p>
          <ol>
            <li data-list-text="a.">
              <p>access to your account is controlled by a password and a user name that is unique to you.</p>
            </li>
            <li data-list-text="b.">
              <p>we store your Data on secure servers.</p>
            </li>
          </ol>
        </li>
        <li data-list-text="15.">
          <p><a href="mailto:ewiquegonzalezblanco@gmail.com" target="_blank">Technical and organisational measures
            include measures to deal with any suspected data breach. If you suspect any misuse or loss or unauthorised
            access to your Data, please let us know immediately by contacting us via this e-mail address: </a><a
                  href="mailto:ewiquegonzalezblanco@gmail.com" target="_blank">ewiquegonzalezblanco@gmail.com.</a></p>
        </li>
        <li data-list-text="16.">
          <p><a href="http://www.getsafeonline.org/" target="_blank">If you want detailed information from Get Safe
            Online on how to protect your information and your computers and devices against fraud, identity theft,
            viruses and many other online problems, please visit </a>www.getsafeonline.org. Get Safe Online is supported
            by HM Government and leading businesses.</p>
          <h2>Data retention</h2>
        </li>
        <li data-list-text="17.">
          <p>Unless a longer retention period is required or permitted by law, we will only hold your Data on our
            systems for the period necessary to fulfil the purposes outlined in this privacy policy or until you request
            that the Data be deleted.</p>
        </li>
        <li data-list-text="18.">
          <p>Even if we delete your Data, it may persist on backup or archival media for legal, tax or regulatory
            purposes.</p>
          <h2>Your rights</h2>
        </li>
        <li data-list-text="19.">
          <p>You have the following rights in relation to your Data:</p>
          <ol>
            <li data-list-text="a.">
              <p>Right to access - the right to request (i) copies of the information we hold about you at any time, or
                (ii) that we modify, update or delete such information. If we provide you with access to the information
                we hold about you, we will not charge you for this, unless your request is "manifestly unfounded or
                excessive." Where we are legally permitted to do so, we may refuse your request. If we refuse your
                request, we will tell you the reasons why.</p>
            </li>
            <li data-list-text="b.">
              <p>Right to correct - the right to have your Data rectified if it is inaccurate or incomplete.</p>
            </li>
            <li data-list-text="c.">
              <p>Right to erase - the right to request that we delete or remove your Data from our systems.</p>
            </li>
            <li data-list-text="d.">
              <p>Right to restrict our use of your Data - the right to "block" us from using your Data or limit the way
                in which we can use it.</p>
            </li>
            <li data-list-text="e.">
              <p>Right to data portability - the right to request that we move, copy or transfer your Data.</p>
            </li>
            <li data-list-text="f.">
              <p>Right to object - the right to object to our use of your Data including where we use it for our
                legitimate interests.</p>
            </li>
          </ol>
        </li>
        <li data-list-text="20.">
          <p><a href="mailto:ewiquegonzalezblanco@gmail.com" target="_blank">To make enquiries, exercise any of your
            rights set out above, or withdraw your consent to the processing of your Data (where consent is our legal
            basis for processing your Data), please contact us via this e-mail address: </a><a
                  href="mailto:ewiquegonzalezblanco@gmail.com" target="_blank">ewiquegonzalezblanco@gmail.com.</a></p>
        </li>
        <li data-list-text="21.">
          <p>If you are not satisfied with the way a complaint you make in relation to your Data is handled by us, you
            may be able to refer your complaint to the relevant data protection authority. For the UK, this is the
            Information Commissioner's Office (ICO). The ICO's contact details can be found on their website at
            https://ico.org.uk/.</p>
        </li>
        <li data-list-text="22.">
          <p>It is important that the Data we hold about you is accurate and current. Please keep us informed if your
            Data changes during the period for which we hold it.</p>
          <h2>Links to other websites</h2>
        </li>
        <li data-list-text="23.">
          <p>This Website may, from time to time, provide links to other websites. We have no control over such websites
            and are not responsible for the content of these websites. This privacy policy does not extend to your use
            of such websites. You are advised to read the privacy policy or statement of other websites prior to using
            them.</p>
          <h2>Changes of business ownership and control</h2>
        </li>
        <li data-list-text="24.">
          <p>Casspea Ltd may, from time to time, expand or reduce our business and this may involve the sale and/or the
            transfer of control of all or part of Casspea Ltd. Data provided by Users will, where it is relevant to any
            part of our business so transferred, be transferred along with that part and the new owner or newly
            controlling party will, under the terms of this privacy policy, be permitted to use the Data for the
            purposes for which it was originally supplied to us.</p>
        </li>
        <li data-list-text="25.">
          <p>We may also disclose Data to a prospective purchaser of our business or any part of it.</p>
        </li>
        <li data-list-text="26.">
          <p>In the above instances, we will take steps with the aim of ensuring your privacy is protected.</p>
          <h2>Cookies</h2>
        </li>
        <li data-list-text="27.">
          <p>This Website may place and access certain Cookies on your computer.</p>
          <p>Casspea Ltd uses Cookies to improve your</p>
          <p>experience of using the Website and to improve our range of products. Casspea Ltd has carefully chosen
            these Cookies and has taken steps to ensure that your privacy is protected and respected at all times.</p>
        </li>
        <li data-list-text="28.">
          <p>All Cookies used by this Website are used in accordance with current UK and EU Cookie Law.</p>
        </li>
        <li data-list-text="29.">
          <p>Before the Website places Cookies on your computer, you will be presented with a message bar requesting
            your consent to set those Cookies. By giving your consent to the placing of Cookies, you are enabling
            Casspea Ltd to provide a better experience and service to you. You may, if you wish, deny consent to the
            placing of Cookies; however certain features of the Website may not function fully or as intended.</p>
        </li>
        <li data-list-text="30.">
          <p>This Website may place the following Cookies:</p>
          <table cellspacing="0">
            <tbody>
            <tr>
              <td>
                <p>Type of Cookie</p>
              </td>
              <td>
                <p>Purpose</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Strictly necessary cookies</p>
              </td>
              <td>
                <p>These are cookies that are required for the operation of</p>
              </td>
            </tr>
            </tbody>
          </table>
          <table cellspacing="0">
            <tbody>
            <tr>
              <td>
              </td>
              <td>
                <p>our website. They include, for example, cookies that enable you to log into secure areas of our
                  website, use a shopping cart or make use of e-billing services.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Analytical/performance cookies</p>
              </td>
              <td>
                <p>They allow us to recognise and count the number of visitors and to see how visitors move around our
                  website when they are using it. This helps us to improve the way our website works, for example, by
                  ensuring that users are finding what they are looking for easily.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Functionality cookies</p>
              </td>
              <td>
                <p>These are used to recognise you when you return to our website. This enables us to personalise our
                  content for you, greet you by name and remember your preferences (for example, your choice of language
                  or region). By using the Website, you agree to our placement of functionality cookie.</p>
              </td>
            </tr>
            </tbody>
          </table>
        </li>
        <li data-list-text="31.">
          <p>You can find a list of Cookies that we use in the Cookies Schedule.</p>
        </li>
        <li data-list-text="32.">
          <p>You can choose to enable or disable Cookies in your internet browser. By default, most internet browsers
            accept Cookies but this can be changed. For further details, please see the help menu in your internet
            browser. You can switch off Cookies at any time, however, you may lose any information that enables you to
            access the Website more quickly and efficiently.</p>
        </li>
        <li data-list-text="33.">
          <p>You can choose to delete Cookies at any time; however, you may lose any information that enables you to
            access the Website more quickly and efficiently including, but not limited to, personalisation settings.</p>
        </li>
        <li data-list-text="34.">
          <p>It is recommended that you ensure that your internet browser is up-to-date and that you consult the help
            and guidance provided by the developer of your internet browser if you are unsure about adjusting your
            privacy settings.</p>
        </li>
        <li data-list-text="35.">
          <p>For more information generally on cookies, including how to disable them, please refer to aboutcookies.org.
            You will also find details on how to delete cookies from your computer.</p>
          <h2>General</h2>
        </li>
        <li data-list-text="36.">
          <p>You may not transfer any of your rights under this privacy policy to any other person. We may transfer our
            rights under this privacy policy where we reasonably believe your rights will not be affected.</p>
        </li>
        <li data-list-text="37.">
          <p>If any court or competent authority finds that any provision of this privacy policy (or part of any
            provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent
            required, be deemed to be deleted, and the validity and enforceability of the other provisions of this
            privacy policy will not be affected.</p>
        </li>
        <li data-list-text="38.">
          <p>Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be
            deemed a waiver of that, or any other, right or remedy.</p>
        </li>
        <li data-list-text="39.">
          <p>This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes
            arising under the Agreement will be subject to the exclusive jurisdiction of the English and Welsh
            courts.</p>
          <h2>Changes to this privacy policy</h2>
        </li>
        <li data-list-text="40.">
          <p>Casspea Ltd reserves the right to change this privacy policy as we may deem necessary from time to time or
            as may be required by law. Any changes will be immediately posted on the Website and you are deemed to have
            accepted the terms of the privacy policy on your first use of the Website following the alterations.</p>
          <p><a href="mailto:ewiquegonzalezblanco@gmail.com" target="_blank">You may contact Casspea Ltd by email
            at </a><a href="mailto:ewiquegonzalezblanco@gmail.com" target="_blank">ewiquegonzalezblanco@gmail.com.</a>
          </p>
          <h2>Attribution</h2>
        </li>
        <li data-list-text="41.">
          <p>This privacy policy was created using a document from Rocket Lawyer <a
                  href="http://www.rocketlawyer.com/gb/en)" target="_blank">(https://www.rocketlawyer.com/gb/en).</a>
          </p>
        </li>
      </ol>
      <p>This privacy policy was created on <strong>02 November 2022</strong>.</p>
      <h2>Cookies</h2>
      <p>Below is a list of the cookies that we use. We have tried to ensure this is complete and up to date, but if you
        think that we have missed a cookie or there is any discrepancy, please let us know.</p>
      <h3>Strictly necessary</h3>
      <p>We use the following strictly necessary cookies:</p>
      <table cellspacing="0">
        <tbody>
        <tr>
          <td>
            <p>Description</p>
          </td>
          <td>
            <p>Purpose</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>We use this session cookie to remember you and maintain your session whilst you are using our website</p>
          </td>
          <td>
            <p>To keep track of customer journey and where in the process of buying we lose them.</p>
          </td>
        </tr>
        </tbody>
      </table>
      <h3>Functionality</h3>
      <p>We use the following functionality cookies:</p>
      <table cellspacing="0">
        <tbody>
        <tr>
          <td>
            <p>Description</p>
          </td>
          <td>
            <p>Purpose</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>We use this cookie to identify your computer and analyse traffic patterns on our website</p>
          </td>
          <td>
            <p>To help us understand usage patterns</p>
          </td>
        </tr>
        </tbody>
      </table>
      <h3>Analytical/performance</h3>
      <p>We use the following analytical/performance cookies:</p>
      <table cellspacing="0">
        <tbody>
        <tr>
          <td>
            <p>Description</p>
          </td>
          <td>
            <p>Purpose</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>We use this cookie to help us analyse how users use the website</p>
          </td>
          <td>
            <p>Understand the habits of our costumers</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}