{% load static %}

<section class="row">
  <div class="col s12">
    <p class="center my-1"><span class="bold">FREE SHIPPING</span> OVER £45
      <a href="https://www.instagram.com/casspea_/" target="_blank" class="ml-2 mt-1">
        <img src="{% static 'images/instagram.png' %}" width="15px">
      </a>
      <a href="https://www.facebook.com/casspeauk" target="_blank" class="ml-2 mt-1">
        <img src="{% static 'images/facebook.png' %}" width="15px">
      </a>
    </p>
  </div>
</section>