{% load static %}

<section class="">
  <div class="row">
    <div class="col s12 m3">
      <p class="center m-0 m-md-2">
        <span class="bold">10% DISCOUNT?</span> ENTER <span class="bold">CASSPEA10</span>
      </p>
    </div>
    <div class="col s12 m3">
      <p class="center m-0 m-md-2">
        Or <a class="text-underline modal-trigger bold" href="#newsletter-modal">SUBSCRIBE</a> FOR 15% OFF
      </p>
    </div>
    <div class="col s12 m3">
      <p class="center m-0 m-md-2">
        <span class="bold">FREE SHIPPING</span> OVER £45
      </p>
    </div>
    <div class="col s12 m3">
      <p class="center d-none d-md-block m-0 m-md-2">
        <span class="bold">Tel:</span> <a href="tel:07859790386">07859 790386</a> /
        <span class="bold">email:</span> <a href="mailto:info@casspea.co.uk">info@casspea.co.uk</a>
      </p>
    </div>
  </div>
</section>